<template>
	
	<div>

		<!-- Adding the Popular ciites Section -->
		<!-- <section class="Popular-cities mt-md-5 mt-sm-5 mt-5"> -->
		<section class="Popular-cities">

			<div class="Popular-cities-placement">

				<div class="Popular-back-title d-none d-md-block"> Popular Cities in India </div>
				<div class="Popular-front-title">Popular cities in India <hr> </div>

			</div>

			<!-- <div class="container spacing1"> -->
			<div class="container">

				<div class="row no-gutters clearfix">

					<div class="col-12 col-md-6 col-lg-3 pr-2">

						<div class="hover-effect">

							<a href="#" class="thumbnail inner"> <img src="../../../../assets/p1.jpg" class="img-fluid rounded"> </a>

							<div class="img-name">

							<h2> Pune </h2>

							</div>

						</div>

					</div>


					<div class="col-12 col-md-6 col-lg-3 pr-2">

						<div class="hover-effect">

							<a href="#" class="thumbnail inner"> <img src="../../../../assets/p2.jpg" class="img-fluid rounded"> </a>

							<div class="img-name">

							<h2> Delhi </h2>

							</div>

						</div>

					</div>


					<div class="col-12 col-md-6 col-lg-3 pr-2">

						<div class="hover-effect">

							<a href="#" class="thumbnail inner"> <img src="../../../../assets/p3.jpg" class="img-fluid rounded"> </a>

							<div class="img-name">

							<h2> Bangalore </h2>

							</div>

						</div>

					</div>

					<div class="col-12 col-md-6 col-lg-3 ">

						<div class="hover-effect">

							<a href="#" class="thumbnail inner"> <img src="../../../../assets/p4.jpg" class="img-fluid rounded"> </a>

							<div class="img-name">

							<h2> Gujrat </h2>

							</div>

							</div>

						</div>

					</div>


				<div class="row no-gutters clearfix">

		
					<div class="col-12 col-md-6 col-lg-3 pr-2">

						<div class="hover-effect">

							<a href="#" class="thumbnail inner"> <img src="../../../../assets/p5.jpg" class="img-fluid rounded"> </a>

							<div class="img-name">

							<h2> Mumbai </h2>

							</div>

						</div>

					</div>

					<div class="col-12 col-md-6 col-lg-3 pr-2">

						<div class="hover-effect">

							<a href="#" class="thumbnail inner"> <img src="../../../../assets/p6.jpg" class="img-fluid rounded"> </a>

							<div class="img-name">

							<h2> Kolkata </h2>

							</div>

						</div>

					</div>


					<div class="col-12 col-md-6 col-lg-3 pr-2">

						<div class="hover-effect">

							<a href="#" class="thumbnail inner"> <img src="../../../../assets/p6.jpg" class="img-fluid rounded"> </a>

							<div class="img-name">

							<h2> Jaipur </h2>

							</div>

						</div>

					</div>

					<div class="col-12 col-md-6 col-lg-3 ">

						<div class="hover-effect">

							<a href="#" class="thumbnail inner"> <img src="../../../../assets/p8.jpg" class="img-fluid rounded"> </a>

							<div class="img-name">

							<h2> Ahemdabad  </h2>

							</div>

						</div>

					</div>

				</div>




			</div>

		</section>

		
	</div>

</template>

<script>

export default {


};
	
</script>


<style scoped>

/*Styling the Popular Cities Portion in India*/
.Popular-cities-placement{

	text-align: center;
	
}


.Popular-back-title{

	font-size:100px;
	color: rgba(0,0,0,0.05);


}

.Popular-front-title{

	font-size: 40px;
	color: black;
	margin-top: -100px;

}

.Popular-front-title hr {

	border-bottom:2px solid #70c1b3;
	width: 62px;
}


/*Cards Gallery*/
.container {

	margin-top: 50px;
}

.container .row:first-child{

	margin-bottom: 10px;
}

/*.spacing1 {

	margin-top: 50px;
}*/


.Popular-cities img {

	width:100%;

}


/*Adding the Image Hover Effect*/
.hover-effect {

	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.hover-effect img{

	height: 220px;
	transition: 1s;

}

.hover-effect:hover img {

	transform: scale(1.5);
}

.img-name{

	
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;

}

.img-name h2 {

	color: white;
	font-size: 2.5rem;

}


.hover-effect:hover .img-name {

	background-color:rgba(0,0,0,0.5); 
}



/*Writing Some Media Queries*/

/*For Large*/
@media (max-width: 1199.98px) { 

/*Styling the popular cities section*/


    .Popular-back-title{

		font-size:80px;


    }

    .Popular-front-title{

		font-size: 25px;
		color: black;
		margin-top: -75px;

    }

    .img-name h2 {

    	font-size: 2rem;
    }


 }



/*For Medium*/

@media (max-width: 991.98px) {

/*Styling the popular cities section*/

	.Popular-ciites {

		margin-top: 30px;

	}
    
    .Popular-back-title{

	font-size:60px;
	


    }

    .Popular-front-title{

		font-size: 20px;
		color: black;
		margin-top: -55px;

    }

    .col-md-6 {

    	padding-bottom:10px;
    	padding-left:5px;
    	padding-right:5px; 
    }

    .container-fluid .row{

		margin-bottom: 0px;

    }






}



/*For small*/
@media (max-width: 767.98px) { 



 }



/*For extra small*/
@media (max-width: 575.98px) { 



}



</style>