<template>
	
	<div>

		<section class="ourFeatures d-none d-sm-block">
			
			<div class="container clearfix">
				
				<div class="heading">
					<h4>This is the Best solution, for your needs </h4>
					<p>Packed full of features so that you can appreciate the numerous benefits ,<br> that our theme provides</p>
				</div>

				<div class="row mt-5">
					
					<div class="col-12 col-lg-6">

						<div class="quality">

							<p><i class="fas fa-history"></i> Available all the time </p>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters </p>
						
						</div>

					</div>

					<div class="col-12 col-lg-6">

						<div class="quality">

							<p><i class="fas fa-headphones"></i> Best Support team in Industry </p>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters </p>
						
						</div>
						
					</div>

				</div>

				<div class="row mt-4">
					
					<div class="col-12 col-lg-6">

						<div class="quality">

							<p><i class="fas fa-history"></i> Available all the time </p>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters </p>
						
						</div>

					</div>

					<div class="col-12 col-lg-6">

						<div class="quality">

							<p><i class="fas fa-headphones"></i> Best Support team in Industry </p>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters </p>
						
						</div>
						
					</div>

				</div>

				<div class="learn-more">
					<button class="btn btn-lg btn-outline-light" @click="toLearn"> To Learn More </button>
				</div>

				


			
			</div>
		
		</section>
		
	</div>

</template>



<script>

export default {

	methods: {

		toLearn() {

			this.$router.push({path:'/Learn'});
		}
	}

};

</script>


<style scoped>
	
	.ourFeatures {

		background-color: #17a2b8;
		color: white;
		padding: 60px;
	
	}

	.container .heading {

		text-align: center;
	}

	.container .heading h4 {

		font-size: 40px;


	}

	.quality i {

		font-size: 30px;

	}

	.quality p {

		margin: 2px;
	}

	.learn-more {

		float: right;
		margin-top: 30px;
	}


	/*Writing Some Media Queries*/

	/*For small*/

	@media (max-width: 767.98px) { 

		.quality {

			font-size: 14px;
		}

		.quality i {

			font-size: 25px;
		}

	}


</style>