<template>
	
	<div>

		<section id="work" class="Working">

			<div class="wrapper">
				
				<p> <i class="fas fa-comment-alt"></i> </p>
				<p class="back-title d-none d-md-block">Its's Easy</p>
				<p class="front-title">How it Works <hr> </p>

			</div>

			<div class="container mt-5">

				<div class="row">
					
					<div class="col-12 col-lg-4 mb-3 mb-lg-none">

						<div class="work-box">
							
							<p class="back">1</p>
							<p class="front">Choose a Location</p>							

							<div class="description">
								
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud.</p>
							</div>

						</div>
						
					</div>

					<div class="col-12 col-lg-4 mb-3 mb-lg-none">

						<div class="work-box">
							
							<p class="back">2</p>
							<p class="front">Pick a Category</p>							

							<div class="description">
								
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud.</p>
							</div>

						</div>
						
					</div>

					<div class="col-12 col-lg-4">

						<div class="work-box">
							
							<p class="back">3</p>
							<p class="front">Find what you want</p>							

							<div class="description">
								
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud.</p>
							</div>

						</div>
						
					</div>
				
				</div>
				
			</div>

		
		</section>
		
	</div>

</template>

<script>
	
	export default {


	};

</script>

<style scoped>

.Working {

	/*background-color: white;*/
	/*margin-top:0px;*/
	padding-bottom: 100px;
}

.wrapper {

	padding-top: 50px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.wrapper {

	font-size: 60px;
	letter-spacing: 2px;
}	

.wrapper .back-title {

	font-size: 100px;
	color: rgba(0,0,0,0.05)
}

.wrapper .front-title {

	font-size: 40px;
	margin-top: -100px;
}

.wrapper hr {

	border-bottom:2px solid #70c1b3;
	width: 62px;
}

.wrapper p {

	margin: 0;

}


.work-box{

	padding: 30px;
	text-align: center;
	/*background-color: #eff2f3;*/
	background-color: white;
	/*border-radius: 50%;*/

}

.back {

	font-size: 70px;
	color: rgba(0,0,0,0.3);
}

.front {

	margin-top: -80px;
	font-size: 20px;
}

.description {

	margin-top: 60px;
}


/*Writing Some Media Queries */

/*For Large*/
@media (max-width: 1199.98px) {

	.description p {

		font-size: 14px;

	}

	.wrapper .front-title {

		font-size: 20px;
		margin-top: -60px;

	}

	.wrapper .back-title {

		font-size: 65px;

	}




 }



/*For Medium*/
@media (max-width: 991.98px) {

	.wrapper .front-title {

		font-size: 20px;
		margin-top: -55px;

	}

	.wrapper .back-title {

		font-size: 60px;

	}

	.work-box {

		padding: 40px;
		/*border-radius: 0;*/
	}

	.back {

		font-size: 40px;
	}

	.front {

		font-size: 16px;
		margin-top: -55px;

	}

	.description {

		margin-top: 20px;
	}

	.description p {

		font-size: 14px;


	}

}

/*Small Screen*/
@media (max-width: 767.98px) { 

	.wrapper .front-title {

		margin-top: 0px;

	}

}





</style>


