<template>

  <div>

    <app-navbar>  </app-navbar>

    <section class="aboutus">

      <div class="container-fluid">

        <div class="our-mission">
          
          <h3> Our Mission </h3>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
        </div>
    
    
        <div class="team">

          <h3 class="text-center">Meet our team</h3>
          <hr>
          <p class="text-center d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>

          <div class="row pt-3 pt-md-5 clearfix">

            <div class="col-12 col-md-4">
              
              <div class="card" >
                <img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/about1.png" class="card-img-top" alt="...">
                
                <div class="card-body">
                  <h5 class="card-title">July Doe</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

                <div class="card-footer">
                
                  <small class="text-muted">
                  
                    <span class="member-post"> Designer </span>
                    
                    <div class="team-handles"> 
                    
                      <a href="#"><i class="fab fa-facebook-square"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-google-plus"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                  
                    </div>  



                  </small>
                      
                </div>

            
              </div>
        
            </div>

      
            <div class="col-12 col-md-4">
              
              <div class="card" >
                
                <img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/about2.png" class="card-img-top" alt="...">

                <div class="card-body">

                  <h5 class="card-title">Jennifer Doe</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                
                </div>

                    
                <div class="card-footer">
                  
                  <small class="text-muted">
                    <span class="member-post"> CEO </span>

                    <div class="team-handles "> 
                    
                      <a href="#"><i class="fab fa-facebook-square"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-google-plus"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                  
                    </div>  



                  </small>
                      
                </div>

            
              </div>
        
            </div>

            <div class="col-12 col-md-4">

              <div class="card">

                <img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/about3.png" class="card-img-top" alt="...">

                <div class="card-body">
                
                  <h5 class="card-title">John Doe</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                
                </div>

                    
                <div class="card-footer">

                  <small class="text-muted">
                    <span class="member-post">Developer </span>

                    <div class="team-handles "> 
                    
                      <a href="#"><i class="fab fa-facebook-square"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-google-plus"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    
                    </div>  



                  </small>
                      
                </div>

            
              </div>
        
            </div>

          </div>    

  
        </div>  

    
      </div>

    </section>

    
    <section class="join-us d-none d-sm-block">
      
      <div class="container-fluid clearfix">
      
        <h3>What are you Looking for </h3>
        <p> It is a long established fact that a reader will be distracted by the readable content of a page <br>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

        <button type="button" class="btn btn-danger">Join us Now </button>
    
      </div>

  
    </section>

    <app-footer> </app-footer>

  

  </div>


</template>



<script>

export default {

};

</script>

<style scoped>

/*Designing the Navbar */

/deep/ nav {


}

/*Desiging the about us section*/

.aboutus {

  margin-top: 130px;

}


.aboutus h3{

  color:#555;
  font-size: 2rem;
}

.aboutus p {

  color: #53666d;

}



.our-mission{

  text-align: center;
}


.container-fluid hr{

  max-width: 60px;
  border-color: #17a2b8;
  border-width: 2px;
}


.team {

  padding-top: 120px;

}

.card-body .card-text{

  color: #53666d;

}



.member-post {

  float: left;
}



.team-handles{

  display: inline;
  float: right;
}

.team-handles a{

  padding-right: 5px;
  font-size: 15px;
  color: #17a2b8;




}


/*Styling the Join us menu*/

.join-us{

  margin-top: 150px;
  padding-top: 40px;
  background-color: white;
  height: 35vh;
}

.join-us h3{

  color: #555;
}

.join-us p{

  font-size: 14px;
  padding-top: 10px;
  color: #53666d; 
}

.join-us .container-fluid button{

  float:right;
}




/*Writing the media queries */

/*For small*/

@media (max-width: 767.98px) {

 .container-fluid .card {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  


}



</style>
