<template>
	
	<div>

		<app-navbar> </app-navbar>

		<section class="QA">

			<div class="container-fluid">

				<div class="faq-header">
			
					<h1>FAQ</h1>
					<hr>
		
				</div>


				<div class="row no-gutters">

					<div class="col-12 col-md-4 p-1">

						<div class="card">

							<div class="face face1">
						
								<div class="content text-center">
							
									<h2 class="text-info mb-3"> <i class="fas fa-sticky-note"></i> </h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco.</p>
						
								</div>
					
							</div>

					
							<div class="face face2">

								<div class="question text-center">
							
									<h2 class="mb-4"> <i class="fas fa-question"></i> </h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod,tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						
								</div>

						
							
							</div>
				
				
						</div>
			
			
					</div>

					<div class="col-12 col-md-4 p-1">

						<div class="card">

							<div class="face face1">
						
								<div class="content text-center">
							
									<h2 class="text-info mb-3"> <i class="fas fa-sticky-note"></i> </h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco.</p>
						
								</div>
					
							</div>

					
							<div class="face face2">

								<div class="question text-center">
							
									<h2 class="mb-4"> <i class="fas fa-question"></i> </h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod,tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						
								</div>

						
							
							</div>
				
				
						</div>
			
			
					</div>

					<div class="col-12 col-md-4 p-1">

						<div class="card">

							<div class="face face1">
						
								<div class="content text-center">
							
									<h2 class="text-info mb-3"> <i class="fas fa-sticky-note"></i> </h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco.</p>
						
								</div>
					
							</div>

					
							<div class="face face2">

								<div class="question text-center">
							
									<h2 class="mb-4"> <i class="fas fa-question"></i> </h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod,tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						
								</div>

						
							
							</div>
				
				
						</div>
			
			
					</div>


				</div>


				
				<div class="row no-gutters">
			
			
					<div class="col-12 col-md-4 p-1">

						<div class="card">

							<div class="face face1">
						
								<div class="content text-center">
							
									<h2 class="text-info mb-3"> <i class="fas fa-sticky-note"></i> </h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco.</p>
						
								</div>
					
							</div>

					
							<div class="face face2">

								<div class="question text-center">
							
									<h2 class="mb-4"> <i class="fas fa-question"></i> </h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod,tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						
								</div>

						
							
							</div>
				
				
						</div>
			
			
					</div>

					<div class="col-12 col-md-4 p-1">

						<div class="card">

							<div class="face face1">
						
								<div class="content text-center">
							
									<h2 class="text-info mb-3"> <i class="fas fa-sticky-note"></i> </h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco.</p>
						
								</div>
					
							</div>

					
							<div class="face face2">

								<div class="question text-center">
							
									<h2 class="mb-4"> <i class="fas fa-question"></i> </h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod,tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						
								</div>

						
							
							</div>
				
				
						</div>
			
			
					</div>

					<div class="col-12 col-md-4 p-1">

						<div class="card">

							<div class="face face1">
						
								<div class="content text-center">
							
									<h2 class="text-info mb-3"> <i class="fas fa-sticky-note"></i> </h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco.</p>
						
								</div>
					
							</div>

					
							<div class="face face2">

								<div class="question text-center">
							
									<h2 class="mb-4"> <i class="fas fa-question"></i> </h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod,tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						
								</div>

						
							
							</div>
				
				
						</div>
			
			
					</div>


				</div>

		    </div>    

		
		</section>


		<app-footer> </app-footer>



	</div>

</template>


<script>
	
	export default {

	};

</script>




<style>


/*Styling the Questions answers Section*/

.QA {

	margin-top: 100px;
	margin-bottom: 100px;
}


.faq-header {

	text-align: center;
	margin-bottom: 50px;


}


.faq-header hr {

	max-width: 60px;
	border-color: #17a2b8;

}




.container-fluid .card {

	position: relative;
	width: 100%;
	height: 400px;
	background-color: white;
}

.container-fluid .card .face {

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.container-fluid .card .face.face1 {

	box-sizing: border-box;;
	padding: 50px;
	color: #53666d;
}


.container-fluid .card .face.face1 h2 {

	font-size: 5rem;

}


.container-fluid .card .face.face1 p {

	font-size: 14px;

}





.container-fluid .card .face.face2 {

	background-color: #17a2b8;
	transition: 0.5s;
	border:10px solid white;

}



.container-fluid .card .face.face2 .question {

	transition: 0.5s;
	color: white;
	padding: 50px;


}

.container-fluid .card .face.face2 .question h2 {

	font-size: 6rem;
}


.container-fluid .card .face.face2 .question p {

	font-size: 14px;
}



.container-fluid .card:hover .face.face2 {

	height: 50px;
}


.container-fluid .card:hover .face.face2 h2 {

	font-size:0;
}

.container-fluid .card:hover .face.face2 p {

	font-size:0;
}  




/*Writing the Media Quries for making the website responsive*/


/*For Large*/
@media (max-width: 1199.98px) { 

.container-fluid .card:hover .face.face2 h2 {

	font-size:0;
}

.container-fluid .card:hover .face.face2 p {

	font-size:0;
}  


}



/*For Medium Size Screen*/

@media (max-width: 991.98px) {

/*Styling the FAQ Section    */

.container-fluid .card .face.face1 h2 {

	font-size: 3rem;
}


.container-fluid .card .face.face1  p {

	font-size: 11px;
}


.container-fluid .card .face.face2 .question h2 {

	font-size: 4rem;
}


.container-fluid .card .face.face2 .question p {

	font-size: 12px;
}

.container-fluid .card:hover .face.face2 h2 {

	font-size:0;
}

.container-fluid .card:hover .face.face2 p {

	font-size:0;
}  




}    





/*For small*/

@media (max-width: 767.98px) {

/*Styling the FAQ Section    */

.container-fluid .card .face.face1 h2 {

	font-size: 5rem;
}


.container-fluid .card .face.face1  p {

	font-size: 16px;
}


.container-fluid .card .face.face2 .question h2 {

	font-size: 6rem;
}


.container-fluid .card .face.face2 .question p {

	font-size: 16px;
}

.container-fluid .card:hover .face.face2 h2 {

	font-size:0;
}

.container-fluid .card:hover .face.face2 p {

	font-size:0;
}  





}     


/*For Extra small Screen*/
 @media (max-width: 575.98px) { 

/*Styling the FAQ Section    */

.container-fluid .card .face.face1  p {

	font-size: 14px;
}

.container-fluid .card .face.face2 .question p {

	font-size: 14px;
}     

.container-fluid .card:hover .face.face2 h2 {

	font-size:0;
}

.container-fluid .card:hover .face.face2 p {

	font-size:0;
}  


}




	

</style>