<template>
	
	<div class="learn">

		<app-navbar>  </app-navbar>

		<div class="container">
			
			<div class="heading">

				<h3>This is the best solutions for your need</h3>
				<hr>
				
			</div>

			<div class="para1">
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non imperdiet ipsum. Donec placerat dolor eu ligula pulvinar molestie. Proin pretium diam nisi. Pellentesque eu finibus mi. Nunc finibus dui in accumsan ornare. Morbi elementum magna non blandit scelerisque. Sed eleifend lorem non lacinia tincidunt.</p>

			</div>
			
			<hr>

			<div class="quote">
				
				<p>Curabitur viverra, leo id dignissim lobortis, tellus turpis semper tellus, eu maximus libero dui ut nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

			</div>



			<hr>

		</div>


		
	</div>

</template>

<script type="text/javascript">
	
	export default {



	};

</script>


<style type="text/css" scoped>

.learn {

	color: #53666d;
}	
.container {

	margin-top: 100px;
}

.container hr {

	border-bottom: 3px double;
}


.container .heading {

	text-align: center;
}

.container .heading hr {

	border-bottom:2px solid #70c1b3;
	width: 62px;
}

.para1 {

	margin-bottom: 40px;
}



.quote {

	text-align: center;
	font-size: 20px;
	max-width: 800px;
	margin: 40px auto;
}

</style>