<template>

	<div>

		<app-navbar>  </app-navbar>

		<section class="prizing">

			<div class="prize-heading">

				<h3> Pricing</h3>
				<hr>

    		</div>


    		<div class="container-fluid prize-card pt-3">
    	
    			<div class="row">
    		
    				<div class="col-12 col-md-4">

    					<div class="box">
    				
    						<p>Basic 1</p>

    						<img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/home-150x107.png" class="db-fee-image" alt="">

    						<p class="prize-title pt-3">Free</p>

    						<p>The best choice if you are ok <br> with the basic features.</p>

    						<p>One Time Payment <br>Run Listing for 1 Year <br> 1 Image Allowed <br> Sticky Listing</p>


                    		<button type="button" class="btn btn-outline-info">Create a Listing </button>
    			
    					</div>
    			

    				</div>
    		
    				
    				<div class="col-12 col-md-4">
    			
    					<div class="box ultimate">
    				
    						<p>Ultimate</p>

    						<img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/house1-150x125.png" class="db-fee-image" alt="">

    						<p class="prize-title pt-3 text-white">$39</p>

    						<p>This is the ultimate package <br> all you will ever need.</p>

    						<p>One Time Payment <br>Run Listing for 3 Year <br> 5 Images Allowed <br> Sticky Listing</p>


                    		<button type="button" class="btn btn-outline-light">Create a Listing </button>


    					</div>

    				</div>
    		
    		
    				<div class="co-12 col-md-4">
    			
    					<div class="box">
    				
    						<p> Basic 2</p>

    						<img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/home2-150x118.png" class="db-fee-image" alt="">

		    				<p class="prize-title pt-3">$19</p>

		    				<p>This is a kind of between Basic <br> and Ultimate packages.</p>

		    				<p>One Time Payment <br>Run Listing for 2 Year <br> 2 Images Allowed <br> Sticky Listing</p>


		                    <button type="button" class="btn btn-outline-info">Create a Listing </button>

		    			</div>
    		
    				</div>
    	
    			
    			</div>
    
    		
    		</div>


		</section>

		<app-footer>  </app-footer>

		
	</div>
	

</template>


<script >

export default {



};

</script>


<style>

/*Styling the prizing section*/

.prizing {

	margin-bottom: 100px;
}

.prize-heading{

	text-align: center;
	padding-top: 120px;
	color: #555;
}


.prize-heading hr{

	max-width: 60px;
	border-color: #17a2b8;
	border-width: 2px;
}


.box {

	background-color: white;
	height: 550px;
	text-align: center;
	padding-top: 40px;
	color: #53666d;


}

.prize-title{

	font-size: 2rem;
	color: black;
}



.ultimate{

	background-color: #17a2b8;
	color: white;

}



.btn-outline-light:hover{

	color: #17a2b8;
}

	
</style>