<template>
	
	<div>

		<app-navbar> </app-navbar>

		<!-- Adding the Working section -->

		<section class="working">

			<div class="container-fluid">

				<div class="working-intro">
			
					<h1>How it Works</h1>
					<p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				
				</div>

				<div class="container-fluid">
			
					<div class="row  text-center">

						<div class="col-12 col-lg-4">
					
							<div class="steps">

								<h3>Step 1</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					
							</div>
					
				
						</div>

				
						<div class="col-12 col-lg-4">
					
							<div class="steps">

								<h3>Step 2</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					
							</div>
				
						</div>

				
						<div class="col-12 col-lg-4">

							<div class="steps">

								<h3>Step 3</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					
							</div>
				
						</div>


		    		</div>
		
		
				</div>

				<div class="working-conclusion text-center">
			
					<h4>Just Give your Preferences, and rest We will do</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

				</div>

			</div>
	

		</section>

		<app-footer>  </app-footer>

		
	</div>

</template>


<script>
	
	export default {


	};

</script>


<style>



/*Styling the Working section*/

.working {

	margin-top: 100px;
	color: white;
	margin-bottom: 100px;
	


}

.container-fluid{

	background: #17a2b8;
	padding: 40px;
	max-width: 1200px;
}

.working-intro {

	text-align: center;

}


.working-intro p {

	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

}


.steps {

	color: #17a2b8;
	background: white;
	padding: 40px;
	font-size: 14px;
	border-radius: 50%;
}

.steps p {

	color: black;
}


.working-conclusion p {

	font-size: 14px;

}


/*Writing the Media Quries for making the website responsive*/

/*For Medium Size Screen*/


@media (max-width: 991.98px) {

/*Styling the working section*/

.steps {

	border-radius: 10px;
	margin-bottom: 10px;
}



}    



/*For Extra small Screen*/
 @media (max-width: 575.98px) { 

 	 .steps {

     	font-size: 10px;
     	padding: 20px;


     }

     .steps h3 {
     	font-size: 20px;
     }

     .working-conclusion p {

     	font-size: 10px;
     }


}

	

</style>