<template>
		
	<div class="modal-background">

		<div class="modal">

			<h3>Edit Comment</h3>

			<form>
					
				<div class="row">
					
					<div class="col">

						<input type="text" class="form-control" placeholder="Title of Review*">	
					
					</div>


					<div class="col">
						
						<input type="text" class="form-control" placeholder="Your Name*">	

					</div>

				</div>	

				<div class="row">
					
					<input type="text" placeholder="Your Email*">
				
				</div>

				<div class="row">
					
					<input type="text" placeholder="Your Review*" >

				</div>


			</form>



			


		</div>

	</div>


</template>



<script type="text/javascript">
	
	export default {



	};


</script>


<style type="text/css">




</style>