<template>
	
	<div>

		<!-- Styling the Navigation Menu -->
		<div class="navigation-bar clearfix">

			<div class="navigation-bar-inner">

				<router-link to="/" class="brand-logo">Navbar </router-link>

				<div class="toggle-button">

					<i class="fas fa-bars"></i>

				</div>


				<nav class="navbar-links">

					<ul>
				
						<li><a href="#">Pages <i class="fas fa-sort-down"></i></a>

							<ul class="menu-dropdown">
								
								<li><router-link to="/blog" >Blog </router-link>
								<li><a href="#">Split Slider</a></li>
							
							</ul>

						</li>


						<li><a href="#">Explore  <i class="fas fa-sort-down"></i></a>

							<ul class="menu-dropdown">
								
								<li><a href="#">Beauty</a></li>
								<li><a href="#">Catering</a></li>
								<li><a href="#">Finances</a></li>
								<li><a href="#">Health</a></li>
								<li><a href="#">Plants and Deco</a></li>
							
							</ul>

						</li>

						<li><a href="#">Help  <i class="fas fa-sort-down"></i></a>

							<ul class="menu-dropdown">
								
								<li><router-link to="/prizing"> Pricing </router-link> </li>
								<li><router-link to="/about"> About us </router-link> </li>
								<li><router-link to="/faq"> FAQ </router-link> </li>
							
							</ul>

						</li>
						
						<li class="workR"><router-link to="/working"> How it Works </router-link> </li>
						
						<li id="register"><a href="#" class="open"> <i class="fas fa-sign-in-alt"></i>  Sign In/Register</a></li>

						<!-- <button class="listing-button">Create a Listing</button> -->
				
					</ul>


					

				</nav>
			
			</div>	

		</div>

		<app-sidebar> </app-sidebar>

		<app-login-form> </app-login-form>

		
		
		

		

	</div>

</template>


<script type="text/javascript">
	
	import Sidebar from './Sidebar.vue'; 
	import LoginForm from './LoginForm.vue';

	export default {

		components:{

			'app-sidebar':Sidebar,
			'app-login-form':LoginForm

		},

		mounted() {

			// Adding the Sidebar Functions

			var bars=document.querySelector(".toggle-button");

			bars.addEventListener("click",function() {

				var openNav=document.querySelector(".nav-sidebar");

				openNav.style.display="flex";  
			
			});


			var cross=document.querySelector(".close-button");

			cross.addEventListener("click",function() {

				var closeNav=document.querySelector(".nav-sidebar");

				closeNav.style.display="none";

			});



			// Adding the Modal Bg Open Closing Function
			var open= document.querySelector(".open");
	
			open.addEventListener("click",function(){
				
				var show=document.querySelector(".modal-bg")
				show.style.display='flex';

	        });




	        var close= document.querySelector('.close');

	        close.addEventListener("click",function(){

            var hide=document.querySelector(".modal-bg");
            hide.style.display='none';	

			});


			
		
		}

	};	


</script>


<style type="text/css">

.navigation-bar {

	position: relative;
	width: 100%;
	padding: 25px;
	background-color: white;

}

.navigation-bar-inner {

	margin-left: auto;
   	margin-right: auto;
   	width: 100%;
}

.navigation-bar ul li:hover{

	/*background: red;*/
}

.navigation-bar a {

	text-decoration: none;
}

.brand-logo  {

	color: black;
	font-size: 30px;
	height: 50px;
	padding: 0 10px;
	line-height: 50px;
	text-align: center;
	float: left;

}

.brand-logo img {

	width: 64px;
	height: 64px;

}

.toggle-button {

	display: none;
	width: 40px;
	height: 40px;
	font-size:30px; 
	float: right;
	color: #50514f;
	cursor: pointer;

}


nav {

	float: right;
	
}

.navbar-links ul {

	margin: 0;
	padding: 0;
	display: flex;
}

/*.navbar-links ul button {

	margin-left: 10px;
	color: #17a2b8;
	padding:10px;
	width: 180px;
	background-color: white;
	border:1px solid #17a2b8;
	border-radius: 5px;
}

.navbar-links ul button:hover {

	background-color: #17a2b8;
	color: white;

}*/

.navbar-links ul li {

	list-style: none;
 	margin-top: 10px;

}

.navbar-links ul li a {


	color: #50514f;
	font-weight: 600;
	text-decoration: none;
	padding: 30px 20px;
	font-size: 14px;

}

.navbar-links ul li a:hover {

	color: #17a2b8;
}

.navbar-links ul li a i {

	font-size: 16px;
	vertical-align: 3px;


}


#register a i {

	vertical-align: 0;

}


/*Styling the Hoverable Dropdowns */

.navbar-links ul li ul {

	display: block;
	position: absolute;
	top: 65px;
	background-color: white;
	padding-bottom:10px;
	padding-top: 0;
	width: 180px;
	transition: 0.7s;
	border:1px solid grey;
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;
	z-index: 3;

}


.navbar-links ul li:hover ul {

	opacity: 1;
	visibility: visible;

}

.navbar-links ul li ul li {

	padding:5px;
	background-color: transparent;

}


.navbar-links ul li ul li:hover {

	cursor: pointer;
}


.navbar-links ul li ul li:hover a {

	color: #17a2b8;

}






/*Defining the Responsive Classes*/

.workR {
	 display: none;
}

/*Adding the Form*/










/*Writing Some Media queries*/



/*Extra Large Screens*/

@media (min-width: 1200px) {

	.workR {

		display: block;
	}

}



/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}


/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

	.toggle-button {

		display: block;


	}

	nav {

		display: none;

	}

}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {


}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 



}






	
</style>

