<template>

	<div>

		<footer>

			<div class="footer-container-fluid pt-5 pb-3">
				
				<div class="row no-gutters text-center clearfix">

					<div class="col-12 col-md-5 col-lg-4 col-xl-3 logo">
					
						<img src="../../assets/logo.png" class="pb-2 pb-md-none">
        				<p> Copyright 2019,Directory,<br>All Rights Reserved </p>

      
      				</div>


      				<div class="col-md-7 col-lg-5 col-xl-4 d-none d-md-block">
        
        				<div class="footer-search-box ">
          
          					<input class="footer-search-text" type="email" placeholder="Your Email" >
          					<a class="footer-search-btn" href="#"> <i class="fas fa-paper-plane"></i> </a>

        				</div>
        
     				 </div>

      
      				<div class="d-none d-lg-block col-lg-3 col-xl-5  social-handles">

      					<p class="handles"> 
          
				          <a href="#"><i class="fab fa-facebook-square"></i></a>
				          <a href="#"><i class="fab fa-twitter"></i></a>
				          <a href="#"><i class="fab fa-google-plus"></i></a>
				          <a href="#"><i class="fab fa-linkedin"></i></a>
				        
				        </p>  


        
	        			<div class="footer-links d-none d-xl-block">

				            <router-link to="/prizing"> Pricing </router-link> 
				            <router-link to="/about"> About us </router-link>
				            <router-link to="/blog"> Blog </router-link>

				        </div>

				    </div>
	      
	            </div>
	    

	        </div>

	    </footer>
		
    
    </div>
	

</template>


<script>
	
	export default {




	};

</script>


<style scoped>


/*Designing the Footer*/

footer{

	background-color: white;
	margin-top:20px;
	height: auto;


}


.footer-container-fluid {
  
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  /*padding-top: 1px;*/

}




.footer-container-fluid .row  .logo p,
.footer-container-fluid .row  .logo img {

	float: left;

}

.footer-container-fluid .row  .logo p{

	padding-left: 10px;
	font-size: 12px;
}



/*Creating the search box*/

.footer-search-box{

    border:2px solid #eee;
	border-radius:40px;
	height: 45px;
	width: 350px;
	line-height: 35px;
	padding-left: 30px;
	font-size: 12px;
	margin-left: 30px;

}

.footer-search-box input{

	width: 250px;
}



.footer-search-text{

	border:none;
	background:none;
	outline: none;
	float: left;

	

}


.footer-search-btn{

	float: right;
	padding-right: 30px;
	line-height: 40px;
	color: #17a2b8;





}



/*social handles*/



.handles {

	float: left;
	font-size: 20px;
	border-right: 2px solid black;
	padding-left: 40px;
	padding-right: 15px;
}

.handles a {

	color: #17a2b8;
	padding-right: 3px;
}

.handles a:hover {

	color: #53666d;

	
}


.footer-links  a {

	margin-right: 30px;
	text-decoration: none;
	color: black;
	font-weight: 800;
	font-size: 14px;
}

.footer-links a:hover {

	color: #17a2b8;

}



/*For Large*/

@media (max-width: 1199.98px) { 

/*Styling the Modal*/

	.modal-content{ 

		width: 100%;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 0;
 	    z-index: 5;

    }


	.carousel-item img {

	 height: 570px;
    
    }








 }



/*For Medium*/

@media (max-width: 991.98px) {

	.modal-content{ 

		width: 600px;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 120px;
 	    z-index: 5;

    }



/*Styling the footer box*/

	.footer-container-fluid .row  .logo p,
    .footer-container-fluid .row  .logo img {

	    float: none;

    }






}



/*For small*/

@media (max-width: 767.98px) { 

/*Styling the navigation section*/

	.modal-content{ 

		width: 500px;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 50px;
 	    z-index: 5;

     }



 }



/*For extra small*/

 @media (max-width: 575.98px) { 

 	.modal-content{ 

		width: 100%;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 8px;
 	    z-index: 5;

     }




  }



</style>