<template>
	
	<div>

		<!-- Adding the form -->
		<div class="modal-bg">


		  <div class="modal-content">

		    <div class="row no-gutters">
		      
		      
		      <div class="col-lg-6 d-none d-lg-block" >

		        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">

		          <div class="carousel-inner">

		            
		            <div class="carousel-item active"  data-interval="10000" >

		              <img src="http://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/hands-new.jpg"  class="d-block w-100" alt="...">

		              <div class="carousel-caption">

		                <h5>Get Discovered!</h5>
		                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		                        
		              </div>
		            

		            </div>


		            
		            <div class="carousel-item" data-interval="4000">

		              <img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/sbgn.jpg"  class="d-block w-100" alt="...">

		              <div class="carousel-caption">

		                <h5>Create Listing!</h5>
		                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		                        
		              </div>

		            </div>

		                
		          </div>
		      
		        </div>


		      </div>

		      
		      <div class="col-12 col-lg-6 login-form">

		        <div class="close">+</div>

		        <div class="login-box">

		          <h3> Get Discovered </h3>
		          <p>It has never been easier <br>to reach limits</p>

		                  <form>

		                    <div class="input-box">
		                      
		                      <input type="text" required="required">
		                      <label>Username</label>

		                  </div>

		                  
		                  <div class="input-box">
		                      
		                      <input type="email" required="">
		                      <label>Email</label>

		                  </div>

		                  
		                  <div class="input-box">
		                      
		                      <input type="password" required="required">
		                      <label>Password</label>

		                  </div>

		                  
		                  <div class="input-box">
		                      
		                      <input type="password" required="required">
		                      <label>Confirm Password</label>

		                  </div>

		                  <div class="form-footer ">
		                      
		                      <input type="checkbox" required="required">
		                      <label>I agree to all the statements in</label>
		                      <a href="#"> Terms and Conditions</a><br>
		                      <a href="#"> Already a Member</a>

		                  </div>

		                  

		                  <button class="btn btn-danger mt-2"> Register </button>

		      

		                </form>

		        </div>
		        



		      </div>

		    
		    </div>



		  </div>



		</div>


		
	</div>

</template>


<script type="text/javascript">
	
	export default {


	};

</script>


<style type="text/css">
/*Styling the Modal*/
.modal-bg{

	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.99);
	position: absolute;
	top:0; 
	left: 0;
	display: none;
	z-index:15; 



}


.modal-content{ 

	width: 1000px;
	height: 592px;
	background-color: white;
	position: relative;
	top: 80px;
	left: 150px;
	z-index: 15;

}



.close{

	font-size: 30px;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 10px;
	color: rgba(0,0,0,0.7);
	cursor: pointer;

}




/*Writing Some Media queries*/



/*Extra Large Screens*/

@media (min-width: 1200px) {


}



/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

/*Styling the Modal*/

	.modal-content{ 

		width: 100%;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 0;
 	    z-index: 5;

    }


	.carousel-item img {

	 height: 570px;
    
    }
}


/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

	.modal-content{ 

		width: 600px;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 120px;
 	    z-index: 5;

    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

/*Styling the navbar section*/

	.modal-content{ 

		width: 500px;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 50px;
 	    z-index: 5;

 	}

}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

.modal-content{ 

	width: 100%;
    height: 572px;
    background-color: white;
    position: relative;
    top: 60px;
    left: 8px;
    z-index: 5;

}




}


/*Adjusting the Carousal */
.carousel-item img {

	height: 590px;
}

.carousel-caption {

	top: 80px;
	left: 70px;
}


.carousel-caption h5 {

	font-size: 40px;
}

.carousel-caption p {

	font-size: 20px;
}




/*Adding the form styles*/
.login-form{

	background-color: #eff2f3;
	color: black;
}



.login-box{

	text-align: center;
}



.login-box h3{

	font-size: 2.5rem;
	margin-top: 40px;

}


.login-box p{

	font-size: 1.25rem;

}


.login-box form {

	margin-top: 40px;
}

.login-box .input-box {

	position: relative;
	margin-bottom: 20px;

}

.login-box .input-box input {

	width: 80%;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	background-color: transparent;
	margin-bottom: 10px;


}


.login-box .input-box label{

	position: absolute;
	top: 0;
	left:50px;
	pointer-events: none;
	transition: 0.5s;


}


.login-box .input-box input:focus ~ label,
.login-box .input-box input:valid ~ label{

	top: -20px;
	font-size:0.75rem;
	color: #17a2b8; 




}


.form-footer{

	font-size: 0.85rem;


}


.form-footer a{

	text-decoration: underline;

}


	


</style>