<template>

	<div>

	    <nav class="navbar navbar-expand-lg navbar-light nav-color"> 
	      
	      <a class="navbar-brand text-white" href="#"> <img src="../../assets/logo.png"> Navbar</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>

	      <div class="collapse navbar-collapse" id="navbarSupportedContent">

	        <ul class="navbar-nav ml-auto">
	          
	          <li class="nav-item dropdown"> 
	            <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Pages
	            </a>

	            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	              <a class="dropdown-item" href="#">Blog</a>
	              <a class="dropdown-item" href="#">Split Slider </a>
	            </div>  
	          </li>

	          
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Explore
	            </a>

	            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	              <a class="dropdown-item" href="#">Beauty</a>
	              <a class="dropdown-item" href="#">Catering</a>
	              <a class="dropdown-item" href="#">Finances</a>
	              <a class="dropdown-item" href="#">Health</a>
	              <a class="dropdown-item" href="#">Plants and Deco</a>
	            </div> 
	          </li>

	          
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Help
	            </a>
	            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	              <a class="dropdown-item" href="#">Pricing</a>
	              <a class="dropdown-item" href="#">About Us</a>
	              <a class="dropdown-item" href="#">FAQ</a>
	            </div>    
	          </li>
	      
	          <li class="nav-item">     
	           <a class="nav-link d-none d-xl-block" href="#">How it works</a>     
	          </li>

	          <li class="nav-item">     
	           <a class="nav-link open" href="#"><i class="fas fa-sign-in-alt"></i> Sign In/Register</a>  
	          </li>

	          <li class="nav-item">     
	           <a class="d-lg-none nav-link" href="#">Blog</a>  
	          </li>

	          <li class="nav-item">     
	           <a class="nav-link d-lg-none" href="#">Prizing</a>  
	          </li>

	          <li class="nav-item">     
	           <a class="nav-link d-lg-none" href="#">About us</a>  
	          </li>

	        </ul>

	        <button type="button" class="btn btn-outline-info nav-link d-none d-lg-block">Create a Listing </button>
	  
	      </div>

	    </nav>


	<!-- Adding the form -->

	    <div class="modal-bg">

	      <div class="modal-content">

	        <div class="row no-gutters">

	          <div class="col-lg-6 d-none d-lg-block" >

	            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">

	              <div class="carousel-inner">

	                
	                <div class="carousel-item active"  data-interval="4000" >

	                  <img src="http://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/hands-new.jpg"  class="d-block w-100" alt="...">

	                  <div class="carousel-caption">
	                  
	                    <h5>Get Discovered!</h5>
	                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	                        
	                  </div>
	            

	                </div>


	            
	                <div class="carousel-item" data-interval="4000">

	                  <img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/sbgn.jpg"  class="d-block w-100" alt="...">

	                  <div class="carousel-caption">
	                  
	                    <h5>Create Listing!</h5>
	                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	                        
	                  </div>

	                </div>

	                
	              </div>
	      
	            </div>

	          </div>

	      
	          <div class="col-12 col-lg-6 login-form">

	            <div class="close">+</div>

	            <div class="login-box">
	              
	              <h3> Get Discovered </h3>
	              <p>It has never been easier <br>to reach limits</p>

	              <form>

	                <div class="input-box">
	                
	                  <input type="text" required="required">
	                  <label>Username</label>

	                </div>

	                  
	                <div class="input-box">
	                      
	                  <input type="email" required="">
	                  <label>Email</label>

	                </div>

	                  
	                <div class="input-box">
	                      
	                  <input type="password" required="required">
	                  <label>Password</label>

	                </div>

	                  
	                <div class="input-box">
	                      
	                  <input type="password" required="required">
	                  <label>Confirm Password</label>

	                </div>

	                <div class="form-footer ">
	                      
	                    <input type="checkbox" required="required">
	                    <label>I agree to all the statements in</label>
	                    <a href="#"> Terms and Conditions</a><br>
	                    <a href="#"> Already a Member</a>

	                </div>

	                  

	                <button class="btn btn-danger mt-2"> Register </button>

	      

	              </form>

	            </div>
	          
	          </div>

	        </div>

	      </div>

	    </div>

    </div>


</template>

<script>

export default {

	mounted() {

		var open= document.querySelector(".open");
		
		open.addEventListener("click",function(){
			
			var show=document.querySelector(".modal-bg")
			show.style.display='flex';

        });




        var close= document.querySelector('.close');

        close.addEventListener("click",function(){

            var hide=document.querySelector(".modal-bg");
            hide.style.display='none';


        });
	}

};


</script>



<style scoped>

/*General Navbar Styling*/

nav {

	height: auto;


}

.nav-color{

	background-color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {

    padding-right: 2.65rem;
}


.navbar-light .navbar-nav .nav-link:link, .navbar-light .navbar-nav .nav-link:visited{

	color: #50514f;
	font-weight: 800;
	font-size: 14px;
}


.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:active {

	color: #17a2b8;
	background-color:none;
}



/*Applying the Hoverable Effects*/
.dropdown-menu {

	margin: 0 0;
}


.dropdown:hover>.dropdown-menu{

	display: block;
}



.dropdown-menu .dropdown-item:hover{

	background-color: white;
	color: #17a2b8;

}


.btn-outline-dark:hover {

	background-color: #17a2b8;
	color: white;

}




/*Adding the Form*/

/*Styling the Modal*/

.modal-bg{

	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top:0; 
	left: 0;
	display: none;



}


.modal-content{ 

	width: 1000px;
	height: 592px;
	background-color: white;
	position: relative;
	top: 80px;
	left: 150px;
	z-index: 5;

}



.close{

	font-size: 30px;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 10px;
	color: rgba(0,0,0,0.7);
	cursor: pointer;

}





/*Adjusting the Carousal */

.carousel-item img {

	height: 590px;
}

.carousel-caption {

	top: 80px;
	left: 70px;
}


.carousel-caption h5 {

	font-size: 40px;
}

.carousel-caption p {

	font-size: 20px;
}



/*Adding the form styles*/



.login-form{

	background-color: #eff2f3;
	color: black;
}



.login-box{

	text-align: center;
}



.login-box h3{

	font-size: 2.5rem;
	margin-top: 40px;

}


.login-box p{

	font-size: 1.25rem;

}


.login-box form {

	margin-top: 40px;
}

.login-box .input-box {

	position: relative;
	margin-bottom: 20px;

}

.login-box .input-box input {

	width: 80%;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	background-color: transparent;
	margin-bottom: 10px;


}


.login-box .input-box label{

	position: absolute;
	top: 0;
	left:50px;
	pointer-events: none;
	transition: 0.5s;


}


.login-box .input-box input:focus ~ label,
.login-box .input-box input:valid ~ label{

	top: -20px;
	font-size:0.75rem;
	color: #17a2b8; 




}


.form-footer{

	font-size: 0.85rem;


}


.form-footer a{

	text-decoration: underline;

}





/*Writing some media Queries*/


/*For Large*/

@media (max-width: 1199.98px) { 

/*Styling the Modal*/

	.modal-content{ 

		width: 100%;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 0;
 	    z-index: 5;

    }


	.carousel-item img {

	 height: 570px;
    
    }



 }



/*For Medium*/

@media (max-width: 991.98px) {

	.modal-content{ 

		width: 600px;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 120px;
 	    z-index: 5;

    }

   
}



/*For small*/

@media (max-width: 767.98px) { 


/*Styling the navbar section*/

	.modal-content{ 

		width: 500px;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 50px;
 	    z-index: 5;

     }


 }



/*For extra small*/

 @media (max-width: 575.98px) { 

 	.modal-content{ 

		width: 100%;
	    height: 572px;
	    background-color: white;
	    position: relative;
	    top: 60px;
	    left: 8px;
 	    z-index: 5;

     }



  }



</style>
