<template>
	
	<div>

		<!-- Styling the Sidebar Menu -->

		<div class="nav-sidebar">

			<div class="close-button"><i class="fas fa-times"></i></div>
		
			<div class="side-nav-menu">

				<ul>
					
					<li><a href="#">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Blogs</a></li>
					<li><a href="#"> Pricing</a></li>
					<li><a href="#" class="opens"><i class="fas fa-sign-in-alt"></i>  SignUp/Register</a></li>
					<li><a href="#">FAQ</a></li>

				</ul>
			
			</div>

			<div class="contact-handles">
				
				<h2 class="mb-3">Navbar</h2>

				<span><i class="fab fa-facebook-square"></i></span>
				<span><i class="fab fa-twitter"></i></span>
				<span><i class="fab fa-google-plus"></i></span>
				<span><i class="fab fa-linkedin"></i></span>

			</div>

		</div>

		<app-modal>  </app-modal>
		
	
	</div>

</template>


<script type="text/javascript">

	import Modal from './modal.vue';
	
	export default{

		components: {

			'app-modal':Modal

		},

		mounted() {


			// Adding the Modal Bg Open Closing Function
			var open= document.querySelector(".opens");

			open.addEventListener("click",function(){
				
				var show=document.querySelector(".modal-bg")
				show.style.display='flex';

	        });




	        var close= document.querySelector('.close');

	        close.addEventListener("click",function(){

	        var hide=document.querySelector(".modal-bg");
	        hide.style.display='none';	

			});
		
		
		}




	};

</script>


<style type="text/css">

/*Styling the Navigation Sidebar*/
.nav-sidebar {

	background-color: rgba(0,0,0,0.95);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	z-index: 10;


}

.close-button {

	position: absolute;
	top: 5px;
	right: 20px;
	color: white;
	cursor: pointer;
}

.close-button i {

	font-size: 40px;

}

.side-nav-menu {

	line-height: 50px;
	text-align: center;
}

.side-nav-menu ul li{

	list-style: none;

}

.side-nav-menu ul li a{

	text-decoration: none;
	color: white;
	font-size: 30px;


}

.side-nav-menu ul li a:hover {

	color: #17a2b8;
}


.contact-handles h2 {

	text-align: center;


}

.contact-handles {

	color: white;
	font-size: 30px;
	position: absolute;
	top: 80%;
	left:40%; 
}


.contact-handles span {

	padding-right: 25px;
	cursor: pointer;
}

.contact-handles span:hover i {

	color: #17a2b8;

}


@media (min-width: 1200px) {

	.workR {

		display: block;
	}

}



/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}


/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

.contact-handles {

	left:35%; 
}

}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

.contact-handles {

	left:30%; 
}



}	


</style>