<template>
	
	<div id="user-message">

		<div class="container text-center">

			<transition enter-active-class="animated zoomIn" leave-active-class="animated zoomOut" mode="out-in">
			
				<component :is="selectedComponent">  </component>
			
			</transition>


			<div class="container">

				<div class="row">
					
					<div class="col-12 col-lg-4 mb-3 mb-lg-none">
						
						<div class="user clearfix" @click="selectedComponent='firstMessage'">

							<div class="user-image">
							
								<img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/u2.png" alt="">

							</div>	

							<div class="user-new">
								
								<h5>Michael <br> <span> Musician</span></h5>

							</div>
						
						</div>
					
					</div>

					<div class="col-12 col-lg-4 mb-3 mb-lg-none">
						
						<div class="user" @click="selectedComponent='secondMessage'">

							<div class="user-image">

								<img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/u3.png" alt="">

							</div>	

							<div class="user-new">
								
								<h5>Jennifer <br> <span> Designer</span></h5>

							</div>
						
						</div>
					
					</div>

					<div class="col-12 col-lg-4">
						
						<div class="user" @click="selectedComponent='thirdMessage'">

							<div class="user-image">

								<img src="https://demo.cohhe.com/whitelab/wp-content/uploads/2016/11/u1.png" alt="">

							</div>	

							<div class="user-new">
								
								<h5>Lavaina <br> <span> Dancer</span></h5>

							</div>
	
						</div>
					
					</div>


				
				</div>

			</div>	
			
		</div>
			

	</div>
		

</template>


<script>

import FirstMessage from './MessageFirst.vue';
import SecondMessage from './MessageSecond.vue';
import ThirdMessage from './MessageThird.vue';
	
	export default {

		data:function() {

			return {

				selectedComponent:'firstMessage'

			};

		},

		components :{

			firstMessage:FirstMessage,
			secondMessage:SecondMessage,
			thirdMessage:ThirdMessage


		}


	};

</script>


<style scoped>

	#user-message {

		 background-color: white;
		 color: #53666d;
		 margin-top: 50px;
		 padding-bottom: 20px;
		 
	}
	
	.container {

		padding: 80px;
	}

	.row {

		margin-top: 60px;
	}

	.user {

		display: flex;
		justify-content: center;
		align-items: center;
	}


	.user-image img {

		cursor: pointer;
		/*filter: grayscale(100%);*/
		
	}

	.user-image img:hover {

		filter: grayscale(50%);

	}

	.user-new {

		padding-left: 15px;
		text-align: left;
	}

	.user-new h5 {

		color: black;
	}

	.user-new h5 span {

		font-size: 14px;
		color: #53666d;
	}







	/*Writing Some Media Queries*/

	/*For Medium Size Screens*/

	@media (max-width: 991.98px) {

		.row {

			margin-top: 0px;
		}

	


	}

	/*For small*/

	@media (max-width: 767.98px) { 

		


	}

















	


</style>