<template>
	
	<div>

		<div class="user-message">
			
			<p> <i class="fas fa-quote-right"></i> </p>
			<h4>Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</h4>

		</div>
		
		
	</div>

</template>


<script>
	
	export default {


	};

</script>


<style scoped>
	

	.user-message p {

		font-size: 50px;
	}


	/*Writing Some Media Queries*/

	/*For Medium Size Screens*/
	@media (max-width: 991.98px) {

		.user-message p {

			font-size: 30px;
		}

		.user-message h4 {

			font-size: 20px;
		}


	}

	/*For small*/

	@media (max-width: 767.98px) { 

		.user-message p {

			font-size: 20px;
		}

		.user-message h4 {

			font-size: 15px;
		}


	}
</style>