<template>

	<div>

		<app-navbar>  </app-navbar>

		<section class="featured clearfix">

			<div class="img-banner">

				<slot name="back-img"> <img src="https://www.riversports.com/rs/img/system/add_image_placeholder.png"></slot>	

				<div class="banner-content">

					<slot name="place-name"><slot name="category"></slot>
					
						<h2> <span><i class="far fa-circle"></i> Enter Category</span> <br> Enter Place name </h2>
					
					</slot>
					
        		</div>
				
			</div>

			<div class="main-bar">

				<slot name="mainbar-heading"> <h3> This is the heading of the Mainbar </h3> </slot>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<div class="photo-gallery">

					<h4> Photo Gallery </h4>

					<div class="row no-gutters mt-4">
							
							<div class="col-12 col-lg-6 pb-1 pr-lg-1">

								<slot name="gallery-img1"> <img src="https://www.riversports.com/rs/img/system/add_image_placeholder.png">  </slot>
								
							</div>

							<div class="col-12 col-lg-6 pb-1 pr-lg-1">
								
								<slot name="gallery-img2"> <img src="https://www.riversports.com/rs/img/system/add_image_placeholder.png">  </slot>

							</div>
						
					</div>

					<div class="row no-gutters">
							
							<div class="col-12 col-lg-4 pb-1 pr-lg-1">

								<slot name="gallery-img3"> <img src="https://www.riversports.com/rs/img/system/add_image_placeholder.png">  </slot>
								
							</div>

							<div class="col-12 col-lg-4 pb-1 pr-lg-1">
								
								<slot name="gallery-img4"> <img src="https://www.riversports.com/rs/img/system/add_image_placeholder.png">  </slot>

							</div>

							<div class="col-12 col-lg-4 pb-1 pr-lg-1">
								
								<slot name="gallery-img5"> <img src="https://www.riversports.com/rs/img/system/add_image_placeholder.png">  </slot>

							</div>
						
					</div>

				</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<div class="icons clearfix">
	    	
	    			<span>Favorite <i class="far fa-heart"></i> </span>
	    			<span>Share <i class="fas fa-share-alt"></i> </span>
	    
	    		</div>


	    		<div class="amenities">
	    	
			    	<h6 class="mb-3"> Ammenities </h6>
			    	
			    	<div class="amenities-row1 mb-2">

				    	<slot name="ammenity1"> <span slot="ammenity1"><i class="fas fa-wheelchair"></i> Ammenity 1 </span> </slot>
				    	<slot name="ammenity2"> <span slot="ammenity1"><i class="fas fa-wheelchair"></i> Ammenity 2 </span> </slot>
				    	<slot name="ammenity3"> <span slot="ammenity1"><i class="fas fa-wheelchair"></i> Ammenity 3 </span>  </slot>
				    	<slot name="ammenity4"> <span slot="ammenity1"><i class="fas fa-wheelchair"></i> Ammenity 4 </span> </slot>
				    		
			    	</div>
			    	


			    	<div class="amenities-row2">

				    	<slot name="ammenity5"> <span slot="ammenity1"><i class="fas fa-wheelchair"></i> Ammenity 5</span> </slot>
				    	<slot name="ammenity6"> <span slot="ammenity1"><i class="fas fa-wheelchair"></i> Ammenity 6 </span> </slot>
				    	<slot name="ammenity7"> <span slot="ammenity1"><i class="fas fa-wheelchair"></i> Ammenity 7 </span> </slot>
				    	<slot name="ammenity8"> <span slot="ammenity1"><i class="fas fa-wheelchair"></i> Ammenity 8 </span> </slot>
			    		
			    	</div>
			    	

			    </div>

			    <!-- Adding the comments section -->
			    <app-comments>  </app-comments>


				
			
			</div>


			<div class="sidebar">

				<div class="appointment-block">
					
					<button type="button" class="appointment-button">Make and Appointment</button>

				</div>

				<div class="contact-us">
					
					<h5> Contact Us</h5>

					<div class="contact-details">

						<slot name="contact-address"> <p> <i class="fas fa-map-marker-alt"></i> Enter Address <br> Country </p> </slot>
						<slot name="contact-phone-no"> <p> <i class="fas fa-phone"></i> Enter Phone Number </p> </slot>
						<slot name="contact-email"><p> <i class="fas fa-envelope-open"></i> <a href="#">Enter Email</a></p></slot>
					
					</div>

					<p class="text-right ending">-Please dont hesitate to <a href="#"> contact-us</a> </p>
				
				</div>

				
				<div class="opening-hours">
					
					<h5>Opening Hours</h5>

					<table>
						
						<thead>
							
							<tr>
								<th>Days</th>
								<th>Timing</th>
							</tr>
							
						</thead>

						<tbody>
							
							<tr>
								<td>Monday</td>
								<td>8:30-11:30</td>
							</tr>

							<tr>
								<td>Tuesday</td>
								<td>8:30-11:30</td>
							</tr>

							<tr>
								<td>Wednesday</td>
								<td>8:30-11:30</td>
							</tr>

							<tr>
								<td>Thursday</td>
								<td>8:30-11:30</td>
							</tr>

							<tr>
								<td>Friday</td>
								<td>8:30-11:30</td>
							</tr>

							<tr>
								<td>Saturday</td>
								<td>8:30-11:30</td>
							</tr>

							<tr>
								<td>Sunday</td>
								<td>8:30-11:30</td>
							</tr>
						
						</tbody>
					
					</table>
				
				</div>
			
			
			
			</div>




		</section>

		<app-footer> </app-footer>

		

	</div>
	
</template>


<script>

import Comments from '../pagesComponents/comment.vue';

export default {

	components:{

		'app-comments':Comments
	}


	};

</script>


<style scoped>

.img-banner {

	position: relative;
}

.img-banner img {

	width: 100%;
	height: 400px;

}


.banner-content {

	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	width: 100%;
	background-color: rgba(0,0,0,0.5);

}

h2 span {

	font-size: 20px;
	color: #17a2b8;
}

h2 {

	color: white;
}

.featured {

	margin-bottom: 100px;
}

.main-bar {

	margin-top: 5px;
	margin-left: 10px;
	width: 70%;
	padding:80px 50px;
	background-color: white;
	color: #53666d;
	font-size: 15px;
	float: left;
}

.main-bar h3 {

	margin-bottom: 40px;


}

/*Styling the Photo Gallery*/

.photo-gallery {

	margin-top: 40px;
	margin-bottom: 30px;
}

.photo-gallery img {

	height: 200px;
	width: 100%;
}




/*Styling the Share Icons*/

.icons {

	margin-top:30px; 
    float:right;
    font-size: 16px;



}

.icons span{

	margin-right: 10px;
	cursor: pointer;
}


.icons span:hover {

	color: #17a2b8;

}


/*Desigining the Ammenities Section*/

.amenities {

	margin-top: 100px;
	background-color: #eff2f3;
	padding: 20px;
	border-radius: 3px;
}

.amenities h6 {

	font-weight: 800;
}

.amenities span {

	padding-right: 50px;
}




/*Styling the Sidebar section */

.sidebar{

	width: 25%;
	background-color: white;
	float: left;
	padding: 80px 20px;
	margin-left: 10px;
	color: #53666d;
	margin-top: 5px;
	

}

.sidebar h5{

	color: black;
}

.appointment-block {

	text-align: center;
}

.appointment-button {

	background-color: #dc3545;
	color: white;
	outline: none;
	border-radius: 5px;
	border: none;
	padding:10px;
	width: 100%;

}


.contact-us {

	margin-top: 40px;
}

.contact-us .ending {

	font-size: 12px;
}

.opening-hours {

	margin-top: 40px;
}


.opening-hours table {

	width: 100%;
}

.opening-hours table th,
.opening-hours table td {

	padding: 5px;
}





.advertisement .main-ad-block {

	width: 100%;
	height: 500px;
	background-color: white;

}


/*Writing the Media Queries*/


/*For Medium Size Screen*/

@media (max-width: 991.98px) {

	.featured {

		margin-bottom: 50px;
	}

	.main-bar {

		width: 100%;
	}

	.sidebar {

		float: none;
		width: 100%;
	}


}    


/*For small*/

@media (max-width: 767.98px) {

	.featured {

		margin-bottom: 0px;
	}
}



/*For extra small*/

 @media (max-width: 575.98px) { 





}



</style>