<template>
	
	<div>

		<app-home-header>  </app-home-header>
		<div class="section-spacing1"></div>
		
		<app-home-featured> </app-home-featured>
		<div class="section-spacing2"></div>

		<app-home-popular>  </app-home-popular>
        <div class="section-spacing3"></div>

       
    	<app-home-message>  </app-home-message>
    	<app-home-work>  </app-home-work> 
    	<app-home-quality> </app-home-quality>
    	<app-home-blog>  </app-home-blog>



        <app-footer> </app-footer>

        




	</div>

</template>

<script>

import Homeheader from'../pagesComponents/homeheader.vue'; 
import Homefeatured from'../pagesComponents/homefeatured.vue'; 
import Homepopular from'../pagesComponents/homepopular.vue'; 
import Homework from'../pagesComponents/homework.vue';
import HomeMessage from'../pagesComponents/HomeMessage.vue';
import HomeQuality from'../pagesComponents/homequalities.vue';
import HomeBlog from'../pagesComponents/homeblog.vue';

export default {

	components: {

		'app-home-header':Homeheader,
		'app-home-featured':Homefeatured,
		'app-home-popular':Homepopular,
		'app-home-work':Homework,
		'app-home-message':HomeMessage,
		'app-home-quality':HomeQuality,
		'app-home-blog':HomeBlog


	}





	};

</script>

<style scoped>

section {

	/*background-color: white;*/
	margin-bottom: 0;
}


/*Spacing between the Sections*/
.section-spacing1 {

    width: 100%;	
    height:8rem;
    background-color: white;

}



.section-spacing2 {

    width: 100%;	
    height:8rem;
}

.section-spacing3 {

    width: 100%;	
    height:10rem;

}



/deep/ footer {

	margin-top: 5px;
}





/*For Large*/
@media (max-width: 1199.98px) {

}



/*For Medium*/
@media (max-width: 991.98px) {



   
}



/*For small*/

@media (max-width: 767.98px) { 

	.section-spacing3 {

	    width: 100%;	
	    height:5rem;

	}

}



/*For extra small*/
@media (max-width: 575.98px) { 
 }



	

</style>