<template>
	
	<div>
		
		<app-featured>

			<!-- Add the page Background Image -->
			<img slot="back-img" src="../../assets/fpage.jpg">

			<!-- Add the Page Title Heading And Category -->
			<h2 slot="place-name"> <span slot="category"><i class="far fa-circle"></i> Hotel</span> <br> The Hotel LeelaWati </h2>

			<!-- Add the Mainbar Heading -->
			<h3 slot="mainbar-heading"> Quo tale fabulas ad, eum legimus fuisset ea. Pri eu quod vitae, cibo homero albucius te eum. Ad vidit option dolorum vis. </h3>

			<!-- Add Images of Photo Gallery -->
			<img slot="gallery-img1" src="../../assets/fg1.jpg">
			<img slot="gallery-img2" src="../../assets/fg2.jpg">
			<img slot="gallery-img3" src="../../assets/fg3.jpg">
			<img slot="gallery-img4" src="../../assets/fg4.jpg">
			<img slot="gallery-img5" src="../../assets/fg5.jpg">


			<!-- Add the Ammenities and the Facilities -->
			<span slot="ammenity1"><i class="fas fa-wheelchair"></i> Wheelchair </span>
		   	<span slot="ammenity2"><i class="fas fa-gamepad"></i> Game Zone </span>
			<span slot="ammenity3"><i class="fas fa-cat"></i> Pet Friendly </span>
			<span slot="ammenity4"><i class="fas fa-motorcycle"></i> Motorcycle </span>

		    <span slot="ammenity5"><i class="fas fa-money-check"></i> Accept Credit... </span>
	    	<span slot="ammenity6"><i class="fas fa-car"></i> Car Parking </span>
	    	<span slot="ammenity7"><i class="fas fa-gifts"></i> Gift Wrapping </span>
	    	<span slot="ammenity8"><i class="fas fa-wifi"></i> Free Wifi </span>


	    	<!-- Adding the Contact details of the place -->
			<p slot="contact-address"><i class="fas fa-map-marker-alt"></i> 9 Merritt St, Jersey City,NJ 07305,<br> USA </p>
			<p slot="contact-phone-no"><i class="fas fa-phone"></i> +371 123 456 789 </p>
			<p slot="contact-email"> <i class="fas fa-envelope-open"></i> <a href="#">www.Example.com</a></p>




		</app-featured>

	</div>

</template>


<script>

import Featured from './Featured.vue';
	
	export default {

		components: {

			'app-featured':Featured
		}


	};

</script>


<style>
	

</style>