<template>
	
	<div>
		
		<app-navbar>  </app-navbar>
		<blog-gallery>  </blog-gallery>
		<blog-content> </blog-content>
		<app-footer> </app-footer>
		
	</div>

</template>


<script>

	import Bloggallery from '../pagesComponents/bloggallery.vue';
	import Blogcontent from '../pagesComponents/blogcontent.vue';
	
	export default {

		components:{

			'blog-gallery':Bloggallery,
			'blog-content':Blogcontent
		}


	};

</script>

<style scoped>
	


</style>