<template>
	
	<div>

		<div class="search-box">
				  
		   <div class="container"> 
		  
		    <div class="inner-search-box">

		      <fieldset>
		        
		        <legend>What are You Looking For</legend>

		        <div class="row no-gutters">

		          
		          <div class=" col-12 col-lg-6">

<!-- 		            <input type="text" list="dropdown-category" placeholder="Ex food,beauty" v-model="category"> -->

		            <input type="text" list="dropdown-category" placeholder="Ex food,beauty" v-model="value1">
		  
		            <datalist id="dropdown-category">

		            	<option v-for="coption in cOptions">{{coption.name}}</option>
<!-- 
		            	<option>Beauty</option>
		              	<option>Fitness</option>
		              	<option>Finances</option>
		              	<option>Health</option>
		              	<option>Plants and Deco</option> -->
		  
		            </datalist>
		  
		          </div>

		        
		      

		          <div class=" col-12 col-lg-3">

		            <!-- <input type="text" list="dropdown-location" placeholder="Location" v-model="location"> -->

		            <input type="text" list="dropdown-location" placeholder="Location" v-model="value2">
		        
		            <datalist id="dropdown-location">

		            	<option v-for="loption in lOptions">{{loption.name}}</option>

		  <!--             <option>Delhi</option>
		              <option>Mumbai</option>
		              <option>Ahemdabad</option>
		              <option>Chennai</option>
		              <option>Madras</option>
		   -->      		 
		            
		            </datalist>

		          </div>

		        
		      
		          <div class=" col-12 col-lg-3">

		            <button type="button" @click.prevent="getResult"> Search </button>

		          </div>

		      
		        </div>
<!-- 
		        <p>{{value1}}</p>
		        <p>{{value2}}</p> -->

		      </fieldset>

		    </div>

		  </div>

		</div> 

		
	</div>

</template>


<script type="text/javascript">

import {mapActions} from 'vuex';
	
	export default {

		data() {

			return {

				// category:'',
				// location:'',
				// options:[],

				// arrays for receiving categories and location options
				cOptions:[],
				lOptions:[]

			};
			

		},

		created() {

			this.$http.get("https://e5059192.ngrok.io/categories").then(function(data){

				this.cOptions=data.body;


			});


			this.$http.get("https://e5059192.ngrok.io/cities").then(function(data) {

				this.lOptions=data.body;
				// console.log(data);
			
			});
			



		},

		computed: {

			value1: {

				get() {

					// Getting  the Category value
					return this.$store.getters.cValue;     

				},

				set(value1) {

					this.$store.dispatch('initcValue',value1);


				}
			},

			value2: {

				get() {
	
					// Getting the location values
					return this.$store.getters.lValue;


				},

				set(value2) {

					this.$store.dispatch('initlValue',value2);


				}

			}

		},


		methods: {

			...mapActions(['getResult'])

			// getResult() {

			//  	this.$http.get("https://c37b89ad.ngrok.io/getGoogleData",{

			//  		category:this.category,
			//  		city:this.location

			//  	}).then( response=> {

			//  		console.log(response);
			//  		return response.json(); 

			//  	}).then(data=> {

			//  		const resultArray=[];

			//  		for(let key in data) {

			//  			resultArray.push(data[key]);
			//  		}

			//  		this.$store.state.result=resultArray;

			//  	});				

			//  	this.$router.push({ path:'/result',query:{ searchCategory:this.category,searchLocation:this.location} } );
			
			//  }






		}


	};

</script>

<style type="text/css" scoped>

/*Creating the Seacrch Box*/

.search-box {

	width: 800px;
	position:absolute;
/*	top: 55%;
	left: 20%;*/

}

.row {

	margin-top: 0;

}


input::-webkit-calendar-picker-indicator {

	display: none;

}

.search-box input,
.search-box button {

	width: 100%;
	height: 60px;
	border:none;
	border-right: 1px solid rgba(0,0,0,0.3);
	color: black;
	font-size: 14px;
}

.search-box button {

	border-right: none;
} 


.search-box input {

	padding-left:20px;


}

::placeholder{

	font-size: 14px;
}


.search-box button {

	background-color: #dc3545;
	color: white;

}


/*Writing Some Media Queries*/


/*For Large Screens*/
@media (max-width: 1199.98px) { 

	.search-box {

		left: 9%;
	}





}


@media (max-width: 991.98px) {
/*For Medium*/

	.search-box {

		top:50%; 
		width: 650px;
		left: 7%;
	}


}



/*For small*/

@media (max-width: 767.98px) { 

	.search-box {

		width: 450px;
	}

}


/*For extra small*/
@media (max-width: 575.98px) { 

 	.search-box {

 		width: 380px;
 		top: 45%;
 		/*left: 10%;*/
 	}



}	

</style>