<template>
	
	<div>
		
		<div class="read-reviews text-center" >

			<button class="btn btn-info" @click="getReview">Get All Reviews</button>

			<div class="singleComments clearfix" v-for="(single,id) in allComments" :key="single.id">
				
				<h4>{{single.title}} <br> <span>By <span>{{single.name}}</span>, 25 July 2019
					<br>Email-<span>{{single.email}}</span> </span> </h4> 



				<p style="white-space:pre">{{single.userReview}}</p>

				<div class="comment-options">
					
					<span @click="editReview"><i class="fas fa-pen-alt"></i> Edit</span>
					<span @click="deleteReview(single.id)"><i class="fas fa-trash-alt"></i> Delete</span>

				</div>

			</div>

			    	
	    </div>

<!-- 	    <div class="write-reviews">

	    	<fieldset>
	    		
	    		<legend> Leave Your Review</legend>

	    		<form>

	    			<input type="text" placeholder="Title of Review*" v-model="comments.reviewTitle">

	    			<input class="user-name" type="text" placeholder="Your Name*" v-model="comments.userName">
	    			
	    			<input class="user-email" type="text" placeholder="Your Email*" v-model="comments.userEmail">
	    			
	    			<div class="review-content">
	    				
	    				<textarea rows="10" placeholder="Your Review*" v-model="comments.userReview"> </textarea>

	    				<div class="send-icon" >
	    					
	    					<span @click="submitReview"> <i class="fas fa-paper-plane"></i> </span>

	    				</div>

	    			</div>
	    			


	    		
	    		</form>
	    	
	    	</fieldset>

	    
	    </div>
 -->
 		<div class="writeReviews">
 			
 			<fieldset>
 				
 				<legend>Leave Your Review</legend>

 				<form>
 					
 					<div class="row">
 						
 						<div class="col">
 							
	    					<input type="text" placeholder="Title of Review*" v-model="comments.reviewTitle">

	    				</div>

	    				


 					</div>

 					<div class="row">
						
						<div class="col">
							
	    					<input class="user-name" type="text" placeholder="Your Name*" v-model="comments.userName">


	    				</div>						
						
						<div class="col">

							<input class="user-email" type="text" placeholder="Your Email*" v-model="comments.userEmail"> 						

						</div>
 					</div>

 					<div class="row">

						<div class="col"> 						
 						
	 						<textarea rows="10" placeholder="Your Review*" v-model="comments.userReview"> </textarea>

		    				<div class="send-icon" >
		    					
		    					<span @click="submitReview"> <i class="fas fa-paper-plane"></i> </span>

		    				</div>

		    			</div>					

 					</div>



 				</form>


 			</fieldset>


 		</div>


	
	</div>


</template>

<script>

	import Edit from './editComment.vue';
	
	export default {

		data() {
			
			return {

				allComments:[],

				comments:{

					reviewTitle:'',
					userName:'',
					userEmail:'',
					userReview:''

				}

			};
			

		},

		components: {

			'app-edit':Edit

		},

		methods:{

			submitReview() {

				this.$http.post("https://42e73780.ngrok.io/reviews",{

					title:this.comments.reviewTitle,
					email:this.comments.userName,
					name:this.comments.userName,
					description:this.comments.userReview

				}).then( response=> {

					console.log(response);
					this.getReview();

				});


			},

			getReview() {

				this.$http.get("https://42e73780.ngrok.io/reviews")
				
				.then(response=>{

					return response.json();
				
				}).then(data=>{

					console.log(data);
					this.allComments=data.data;

					console.log(this.allComments);
					// const resultArray=[];
					
					// for(let key in data) {

					// 	resultArray.unshift(data[key]);
					// }

					// this.allComments=resultArray;


				});

				// https://vue-http-70714.firebaseio.com/data.json


			},

			editReview() {

				this.$http.put("https://42e73780.ngrok.io/reviews"+id,{

					

				}).then(response=> {

					console.log(response);
				});

			},

			deleteReview(id) {

				console.log(id);

				this.$http.delete("https://42e73780.ngrok.io/reviews/"+id).then(response=>{

					console.log(response);
					this.getReview();


				});

			}
			
		}


	};

</script>


<style scoped>

/*Styling the new Reviews Section*/
.writeReviews {

	margin-top: 50px;
	background-color: #eff2f3;
	padding: 40px;
}


.writeReviews .row input,
.writeReviews .row textarea {

	width: 100%;
	margin-top:20px;
	padding-left:10px;
	height: 40px;
	font-family: 'Poppins',sans-serif;
	border: none;

}

.writeReviews .row textarea {

	height: 300px;
	padding-top: 5px;

}


.send-icon{

	position: absolute;
	bottom: 12px;
	right: 30px;
	font-size: 20px;
	cursor: pointer;
}

.send-icon span:hover {

	color: #17a2b8;
}






/*Styling the Reviews Section*/
/*
.write-reviews{

	margin-top: 50px;
	background-color: #eff2f3;
	padding: 40px;
}

.write-reviews input,
.write-reviews textarea{

	width: 100%;
	margin-top:20px;
	padding-left:10px;
	height: 40px;
	font-family: 'Poppins',sans-serif;
	border: none;

}

.write-reviews textarea {

	height: 300px;
	padding-top: 5px;
}

.review-content{

	position: relative;
}


.send-icon{

	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
}

.send-icon span:hover {

	color: #17a2b8;
}
*/

/*Styling the Read Reviews Section*/
.read-reviews{

	background-color: #eff2f3;
	padding:40px;
	margin-top: 40px;

}

.singleComments {

	background-color:white;
	padding: 40px;
	color: #53666d; 
	margin-top: 30px;
	border-radius: 5px;

}

.singleComments h4 span {

	font-size: 12px;
	

}

.singleComments h4 span span {

	color: #17a2b8;
}

.comment-options {

	float: right;
	margin-top: 10px;
}	

.comment-options span {

	padding-right: 10px;
	cursor: pointer;
}	

.comment-options span:hover {

	color: #17a2b8;
}


</style>