<template>	
	
	<div>

		<!-- Creating the Featured Menu With Featured Listings -->
		<section class="featured">
  
			<div class="featured-placement">

				<div class="featured-back-title d-none d-md-block">  Featured Listings </div>
				<div class="featured-front-title"> Featured Listings <hr> </div>

			</div>


			<!-- <div class="container spacing1"> -->
			<div class="container">

				<div class="row clearfix">

					<!-- Card 1 -->
					<div class="col-12 col-lg-4 pb-5">

						<div class="card ">

							<router-link to="/featured" class="thumbnail">						

								<img src="../../assets/f1.jpg" class="card-img-top" alt="..."> 

								<div class="featured-tag">
							
									<span>featured</span>

								</div>


								<div class="like-tag">
										
									<span><i class="far fa-thumbs-up"></i></span>

								</div>

				
								<div class="details">
									
									<span><i class="fas fa-map-marker-alt"></i> 9 Merritt St, Jersey City, NJ 07305, USA</span> <br>

									<span><i class="fas fa-phone"></i> +371 123 456 789</span>

								</div>

							</router-link>

									
							


							<div class="card-body text-center">

								<h5 class="card-title">The India Gate </h5>
								<p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

							</div>


							<div class="card-footer clearfix">

								<small>

									<span><i class="far fa-circle"></i> Monument</span>

									<span class="rating"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star-half"></i></span>

								</small>

							</div>

						</div>

					</div>



				 	<!-- Card 2 -->
				      
					<div class="col-12 col-lg-4 pb-5">

						<div class="card ">

							<router-link to="/featured" class="thumbnail">	

								<img src="../../assets/f2.jpg" class="card-img-top" alt="..."> 

								<div class="featured-tag">
							
									<span>featured</span>

								</div>


								<div class="like-tag">
										
									<span><i class="far fa-thumbs-up"></i></span>

								</div>

				
								<div class="details">
									
									<span><i class="fas fa-map-marker-alt"></i> 9 Merritt St, Jersey City, NJ 07305, USA</span> <br>

									<span><i class="fas fa-phone"></i> +371 123 456 789</span>

								</div>


							</router-link>


							<div class="card-body text-center">

								<h5 class="card-title">The Fountain </h5>
								<p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>


							</div>


							<div class="card-footer clearfix">

								<small>

									<span><i class="far fa-circle"></i> Travel</span>

									<span class="rating"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>

								</small>

							</div>

						</div>

					</div>


				    <!-- Card 3 -->
				      
					<div class="col-12 col-lg-4 pb-md-5">

						<div class="card ">

							<router-link to="/hotel" class="thumbnail">	

								<img src="../../assets/f3.jpg" class="card-img-top" alt="...">

								<div class="featured-tag">
							
									<span>featured</span>

								</div>


								<div class="like-tag">
										
									<span><i class="far fa-thumbs-up"></i></span>

								</div>

				
								<div class="details">
									
									<span><i class="fas fa-map-marker-alt"></i> 9 Merritt St, Jersey City, NJ 07305, USA</span> <br>

									<span><i class="fas fa-phone"></i> +371 123 456 789</span>

								</div> 

							</router-link>


							<div class="card-body text-center">

								<h5 class="card-title">The Hotel Leelawati </h5>
								<p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>


							</div>


							<div class="card-footer clearfix">

								<small>

									<span><i class="far fa-circle"></i> Hotel</span>

									<span class="rating"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>

								</small>

								

							</div>

						</div>

					</div>

				</div>

			</div>	


		</section>

	</div>

</template>


<script>
	
	export default {




	};

</script>


<style scoped>

.featured {
	
	background-color: white;
}

/*Styling the Featured Portion*/
.featured-placement{

	text-align: center;
}

.featured-back-title{

	font-size: 100px;
	color: rgba(0,0,0,0.05);

}

.featured-front-title{

	font-size: 40px;
	color:black;
	margin-top: -100px;
}

.featured-front-title hr{

	border-bottom:2px solid #70c1b3;
	width: 62px;


}	

.featured .container {

	margin-top: 50px;
	padding-bottom: 50px;
}


.card  {

	border:none;
}

/*Adjusting the Image Overlay Links*/

.thumbnail {

	position:relative;
}

.featured-tag {

	color: white;
	width: 70px;
	text-align: center;
	background-color: #f25f5c;
	border-radius: 3px;
	position: absolute;
	top: 10px;
	left: 10px;

}

.featured-tag span {

	text-transform: uppercase;
	font-size: 11px;
	margin: 0;
	padding: 0;

}

.like-tag {

	position: absolute;
	top:10px;
	right: 10px; 	
}

.like-tag i {

	color: white;
	font-size: 20px;
}

.details {

	color: white;
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-weight: 600;
	font-size: 13px;

}


/*Adjustig Space Between title and cards*/

/*.spacing1 {

	margin-top: 50px;
}
*/
.card-footer {

	background-color: white;
}


/*Adjusting the Card Footer*/
.card-footer span {

	color: #17a2b8;
	font-weight: 600;
}

.card-footer span i {

	padding-right: 5px;

}

.card-footer .rating {

	float: right;
}




/*Hover effects for the card*/
.card {

	transition: all 0.7s;
} 

.card:hover {

	transform: scale(1.08);
	box-shadow: 3px 3px 5px #53666d;
	cursor: pointer;
}

	


/*Writing the media queries*/

/*Large Screen*/
@media (max-width: 1199.98px) { 

/*Styling the Featured listing section*/
    .featured-back-title{

		font-size: 65px;
		color: rgba(0,0,0,0.05);

    }

    
    .featured-front-title{

		font-size: 20px;
		color:black;
		margin-top: -60px;
    
    }


}


/*Medium Screen*/
@media (max-width: 991.98px) {

/*Styling the Featured Listing section */

    .featured-back-title{

		font-size: 60px;
	

    }

    
    .featured-front-title{

		font-size: 20px;
		color:black;
		margin-top: -55px;
    
    }

    .container {

    	margin-top: 30px;
    }


	.container .card {

    	width: 75%;
    	margin-left: auto;
    	margin-right: auto;


    }

    .card .card-img-top {

    	height: 250px;
    }



}


/*Small Screen*/
@media (max-width: 767.98px) { 


}


/*Extra Small Screen*/

 @media (max-width: 575.98px) {

    .container .card {

    	width: 80%;
    	margin-left: auto;
    	margin-right: auto;


    }

    .card .card-img-top {

    	height: 200px;
    }

	
}


</style>