<template>
	
	<div>

		<!-- Adding the Header Section and Background Image -->
		<div class="header-image">

			<transition name="neweffect" appear>

				<app-navbar>  </app-navbar>

			</transition>

			<transition name="neweffect" appear>

				<!-- Setting up the Header Content -->
				<div class="header-message">

				    <h1> Welcome to the <span>Ultimate</span> Buisness Directory </h1>
				    
				    <div class="pt-3 d-none d-sm-block">
				      <p> This is the <span>Premium Destination</span> for the Decison Makers</p>
				      <p>Find a product,Company or Service you are looking fors</p>
				    </div>
				  
				</div>

			</transition>

			<transition name="bounce" appear>
				
				<app-home-searchbox class="search-box"> </app-home-searchbox>
				
			</transition>	

			
			<transition name="fade" appear>

				<app-home-gradient> </app-home-gradient>


			</transition>


			 

		</div>

			

	</div>

</template>


<script>


import Homesearchbox from'./homeSearchBox.vue';
import Homegradient from'./homegradient.vue';

export default {

	components:{

		'app-home-searchbox':Homesearchbox,
		'app-home-gradient':Homegradient
	}



};


</script>



<style scoped>

/*Adjusting the Navigation Bar*/

/deep/ .navigation-bar {

	background-color: transparent;
	padding: 5px;

}

/deep/ .brand-logo {

	color: white;

}

/deep/ .navbar-links ul li ul{

	top:50px;
}

/deep/ .toggle-button {

	color: white;

}

/*/deep/ .navbar-links ul button {

	margin-left: 10px;
	color: white;
	padding:10px;
	width: 180px;
	background-color: transparent;
	border:1px solid white;

}


/deep/ .navbar-links ul button:hover {

	background-color:white;
	color: #17a2b8;

}*/


/deep/ .navbar-links ul li a {


	color: white;
	font-weight: 600;
	font-size: 15px;


}

/deep/  .navbar-links ul li a:hover {

	color:white;
}

/deep/  .navbar-links ul li ul li a {

	color: black;
	font-weight: 400;

}


/deep/  .navbar-links ul li ul li:hover a {

	color: #17a2b8;

}

/deep/ .contact-handles {

	color: white;
	font-size: 30px;
	position: absolute;
	top: 12%;
	left:40%; 
}


/*Header image and message Styling*/
.header-image{

	background: url("../../assets/header-image.jpg");
	/*background:url("");*/
	background-repeat: no-repeat;
	background-size: 100% 50em;
	background-position: top;
	/*background-attachment: fixed;*/
	width: 100%;
	height: 50em;
	color: white;
	position: relative;

}



.header-message {

position: absolute;
top: 20%;
left: 2%;


}


.header-message h1{

	font-size: 2.5rem;
	font-weight: 300;
}

.header-message h1 span {

	font-weight: 600;
}


.header-message p {

	font-size: 1rem;
	

}


.header-p-spacing{

	padding-top: 15px;
}

.header-message span {

	font-weight: 800;

}


.search-box {

	position: absolute;
	top: 55%;
	left: 20%;

}


/*The Header Message Animation*/

.fade-enter {

	opacity: 0;

}	

.fade-enter-active{

	transition: all 5s ease forwards;

}

.fade-leave {

}


.fade-leave-active {

	opacity: 0;
	/*transition:all 5s ease;*/

}


/*Adding the new Effect*/

.neweffect-enter {

	opacity: 0;		
}	

.neweffect-enter-active{

	animation: neweffect 2s ease;
	transition: all 2s ease;

}

.neweffect-leave {

}


.neweffect-leave-active {


}



/*Adding the Bounce Effect*/
.bounce-enter {

	opacity: 0;		
}	

.bounce-enter-active{

	animation: bounce 1s ease-in;
	transition: all 1s ease-in;

}

.bounce-leave {

}


.bounce-leave-active {


}

@keyframes bounce {

	0% {

		transform: translateY(-150px);
	}


	40% {


		transform: translateY(0);
	}


	60% {

		transform: translateY(-30px);
	}
 
	100%  {

		transform: translateY(0);
	}




}







@keyframes neweffect {

	from {

		transform: scale(1.5);
	}

	to {

		transform: scale(1);
	}
}




/*Header styling Complete*/



/*Styling the Gradient Menu*/
.gradient-menu-outer{

	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);

}

.gradient-menu-inner {

	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}

.gradient-menu-inner a {

	color: white;

}

.gradient-menu-inner a:hover {

	color: #ffe066;

}

.gradient-menu-inner span {

	font-size: 30px;
	padding-right: 60px;
	display: inline-block;
}








/*Writing Some Media Queries*/

/*For Large Size */
@media (max-width: 1199.98px) {





}


/*For Medium*/
@media (max-width: 991.98px) {



}



/*For small*/

@media (max-width: 767.98px) { 


/*Styling the header section*/
	
	.header-message h1 {

		font-size: 1.75rem;

	}

	.header-message p {

		font-size: 0.75rem;
	}

	/deep/ .contact-handles {

		left:35%; 
	}


}


/*For extra small*/
@media (max-width: 575.98px) { 

	/deep/ .contact-handles {

	left:30%; 
}

}







</style>
