<template>
	
	<div>

		<div class="gradient-menu-outer">
		
			<div class="gradient-menu-inner">

				<a href="#"><span class="pl-md-4"> <i class="fas fa-glass-martini-alt"></i> <br> Beauty</span></a>
				<a href="#"><span> <i class="fas fa-snowboarding"></i> <br> Fitness</span></a>
				<a href="#"><span> <i class="fas fa-donate"></i> <br> Finances</span></a>
				<a href="#"><span> <i class="fas fa-heartbeat"></i> <br> Health</span></a>
				<a href="#"><span> <i class="fab fa-pagelines"></i> <br> Plants and Deco</span></a>		
			
			</div>
		
		</div>

		
	</div>

</template>

<script type="text/javascript">
	
	export default {


	};

</script>


<style type="text/css">

/*Styling the Gradient Menu*/
.gradient-menu-outer{

	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,40,0.3);

}

.gradient-menu-inner {

	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}

.gradient-menu-inner a {

	color: white;

}

.gradient-menu-inner a:hover {

	color: #ffe066;

}

.gradient-menu-inner span {

	font-size: 30px;
	padding-right: 60px;
	display: inline-block;
}


/*Writing Some Media Queries*/

@media (max-width: 1199.98px) { 


	.gradient-menu-inner span {

		font-size: 28px;

	}



}


/*For Medium*/
@media (max-width: 991.98px) {


	.gradient-menu-inner span {

		font-size: 20px;
		padding-right: 20px;

	}


}



/*For small*/

@media (max-width: 767.98px) { 

	.gradient-menu-inner span {

		/*font-size: 20px;*/
		padding-right: 15px;

	}

}


/*For extra small*/
@media (max-width: 575.98px) { 


	.gradient-menu-inner span {

		font-size: 16px;
		padding-right: 15px;

	}

}


	

</style>


