<template>
	
	<div>
	
		<section class="home-blog">
			
				<div class="container">

					<div class="blog-heading">
						
						<div class="back-text">Latest News</div>
						<div class="front-text">Getting Started <br> <hr></div>

					</div>

					<div class="row">
						
						<div class="col-12 col-lg-4 pb-5">
							
							<div class="card thumbnail">

								<div class="card-header clearfix">
								    
								    <div class="title-tags">
								    	
								    	<p>Fit,Happiness</p>

								    </div>

								    <div class="icon">
								    	
								    	<i class="fas fa-share-alt"></i>

								    </div>

								</div>

							  	<img src="../../assets/blog1.jpg" class="card-img-top" alt="first">

							  	<div class="card-body text-center">
							    
							    	<h5 class="card-title">Card title</h5>
							    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							  
							  	</div>

							  	<div class="card-footer text-muted">
									
									<span class="writer">by John Doe</span>
									<span class="category"><i class="far fa-circle"></i> Adventure </span>
									
							 	</div>
							
							</div>

						</div>

							<div class="col-12 col-lg-4 pb-5">
							
							<div class="card thumbnail">

								<div class="card-header clearfix">
								    
								    <div class="title-tags">
								    	
								    	<p>Fit,Happiness</p>

								    </div>

								    <div class="icon">
								    	
								    	<i class="fas fa-share-alt"></i>

								    </div>

								</div>

							  	<img src="../../assets/blog1.jpg" class="card-img-top" alt="first">

							  	<div class="card-body text-center">
							    
							    	<h5 class="card-title">Card title</h5>
							    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							  
							  	</div>

							  	<div class="card-footer text-muted">
									
									<span class="writer">by John Doe</span>
									<span class="category"><i class="far fa-circle"></i> Adventure </span>
									
							 	</div>
							
							</div>

						</div>


							<div class="col-12 col-lg-4 pb-5">
							
							<div class="card thumbnail">

								<div class="card-header clearfix">
								    
								    <div class="title-tags">
								    	
								    	<p>Fit,Happiness</p>

								    </div>

								    <div class="icon">
								    	
								    	<i class="fas fa-share-alt"></i>

								    </div>

								</div>

							  	<img src="../../assets/blog1.jpg" class="card-img-top" alt="first">

							  	<div class="card-body text-center">
							    
							    	<h5 class="card-title">Card title</h5>
							    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							  
							  	</div>

							  	<div class="card-footer text-muted">
									
									<span class="writer">by John Doe</span>
									<span class="category"><i class="far fa-circle"></i> Adventure </span>
									
							 	</div>
							
							</div>

						</div>



					</div>

	
					

				</div>

		</section>	


	</div>

</template>


<script type="text/javascript">
	
	export default {


	};

</script>


<style type="text/css" scoped>

.home-blog {

	background-color: #f2f2f2;
	margin-bottom: 100px;
}


.row {

	margin-top: 50px;
}

.blog-heading {
	text-align: center;
	margin-top: 40px;
}

.blog-heading .back-text  {

	font-size: 100px;
	color: rgba(0,0,0,0.05);


}

.blog-heading .front-text  {

	font-size: 40px;
	color:black;
	margin-top: -100px;

}

.blog-heading .front-text hr {

	border-bottom:2px solid #70c1b3;
	width: 62px;
}

.card{

	transition: all 0.7s;
} 

.card:hover {

	transform: scale(1.08);
	box-shadow: 3px 3px 5px #53666d;
	cursor: pointer;
}

.card img {

	width: 100%;
	height: 100%;
}


.card-header{

	height: 50px;
	background-color: white;
	font-weight: 600;


}

.title-tags {

	float: left;
	width: 90%;
	
}

.icon {

	float: right;
	width: 10%;
	color: #53336d;
}

.card-footer {

	background-color: white;
	font-size: 14px;
	font-weight:600;
}


.blog-box {

	background-color: white;
	height: 300px;
}

.writer {

	color: #17a2b8;
	
}

.category {

	float: right;
	color: #53666d;


}

.category:hover {

	color: #17a2b8;
	cursor: pointer;

}



/*Writing the media queries*/

/*Large Screen*/
@media (max-width: 1199.98px) { 

/*Styling the Featured listing section*/
    .blog-heading .back-text{

		font-size: 65px;
		color: rgba(0,0,0,0.05);

    }

    
    .blog-heading .front-text{

		font-size: 20px;
		color:black;
		margin-top: -60px;
    
    }


}


/*Medium Screen*/
@media (max-width: 991.98px) {

/*Styling the Featured Listing section */

    .blog-heading .back-text{

		font-size: 60px;
	

    }

    
    .blog-heading .front-text{

		font-size: 20px;
		color:black;
		margin-top: -55px;
    
    }


	.card {

    	width: 75%;
    	margin-left: auto;
    	margin-right: auto;


    }

    .card img {

    	height: 250px;
    }



}


/*Small Screen*/
@media (max-width: 767.98px) { 


}


/*Extra Small Screen*/

 @media (max-width: 575.98px) {

    .card {

    	width: 80%;
    	margin-left: auto;
    	margin-right: auto;


    }

    .card img {

    	height: 200px;
    }

	
}


	
</style>