<template>
	
	<div>

		<!-- Creating the Navigation Menu  -->
		<nav class="navbar navbar-expand-lg navbar-light"> 

	  		<a class="navbar-brand text-white" href="#"> Navbar</a>
	  
		 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		  		<ul class="navbar-nav ml-auto">
			      
			      <li class="nav-item dropdown"> 
			      
			        <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Pages
			        </a>
			  
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Blog</a>
			          <a class="dropdown-item" href="#">Split Slider </a>
			      	</div>  
			      
			      </li>

			      
			      <li class="nav-item dropdown">
			      
			        <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Explore
			        </a>
			  
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Beauty</a>
			          <a class="dropdown-item" href="#">Catering</a>
			          <a class="dropdown-item" href="#">Finances</a>
			          <a class="dropdown-item" href="#">Health</a>
			          <a class="dropdown-item" href="#">Plants and Deco</a>
			        </div> 
			      
			      </li>

			      <li class="nav-item dropdown">
			    
			        <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Help
			        </a>
			  
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Pricing</a>
			          <a class="dropdown-item" href="#">About Us</a>
			          <a class="dropdown-item" href="#">FAQ</a>
			        </div>    
			    
			      </li>
			      
			      <li class="nav-item">     
			        <a class="nav-link d-none d-xl-block" href="#">How it works</a>     
			      </li>

			      <li class="nav-item">     
			        <a class="nav-link open" href="#"><i class="fas fa-sign-in-alt"></i> Sign In/Register</a>  
			      </li>

			      <li class="nav-item">     
			        <a class="nav-link d-lg-none" href="#">Blog</a>     
			      </li>

			      <li class="nav-item">     
			        <a class="nav-link d-lg-none" href="#">Prizing</a>     
			      </li>

			      <li class="nav-item">     
			        <a class="nav-link d-lg-none" href="#">About us</a>     
			      </li>

			    </ul>

	    		<button type="button" class="btn btn-outline-light nav-link d-none d-lg-block">Create a Listing </button>
	  
	  		</div>

		</nav>

		

		
		
	</div>

</template>

<script>
	
	export default {


	};

</script>

<style scoped>

/*General Navbar Styling*/
nav {

	height: auto;
}


.navbar-expand-lg .navbar-nav .nav-link {

    padding-right: 2.65rem;
}

.navbar-light .navbar-nav .nav-link:link, .navbar-light .navbar-nav .nav-link:visited {

    color: white;
 }
 
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active { 

    color: white;
 }







/*Applying Dropdown the Hoverable Effects*/

.dropdown-menu {

	margin: 0 0;
}


.dropdown:hover>.dropdown-menu{

	display: block;

}



.dropdown-menu .dropdown-item:hover{

	background-color: white;
	color: #17a2b8;

}

.btn-outline-light:hover {

	color: #17a2b8;
}




	
</style>