<template>
	
	<div class="col-4">

		<div class="card thumbnail">

			<!-- Adding the image and the Overlay Content -->

			<div class="overlay-container">
				
				<img class="card-img-top" src="../../assets/b1.jpg">

				<div class="featured-tag">
					
					<span>featured</span>

				</div>


				<div class="like-tag">
						
					<span><i class="far fa-thumbs-up"></i></span>

				</div>

				<div class="details">
						
					<span><i class="fas fa-map-marker-alt"></i> 9 Merritt St, Jersey City, NJ 07305, USA</span> <br>

					<span><i class="fas fa-phone"></i> +371 123 456 789</span>

				</div> 


			</div>

			
			
			<div class="card-body text-center">

				<h5 class="card-title"> Name of the Place</h5>

				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>

			</div>

			<div class="card-footer">

				<small>

					<span><i class="far fa-circle"></i> Hotel</span>

					<span class="rating"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>

				</small>
				
			
			</div>


		</div>



		
	</div>

</template>


<script type="text/javascript">
	
	export default {

		props: ['item']


	};

</script>


<style type="text/css" scoped>

/*Designing the Results Area*/



/*Adjusting the image Overlay content*/
.overlay-container {

	position: relative;
}

.featured-tag {

	color: white;
	width: 70px;
	text-align: center;
	background-color: #f25f5c;
	border-radius: 3px;
	position: absolute;
	top: 10px;
	left: 10px;

}

.featured-tag span {

	text-transform: uppercase;
	font-size: 11px;
	margin: 0;
	padding: 0;

}

.like-tag {

	position: absolute;
	top:10px;
	right: 10px; 	
}

.like-tag i {

	color: white;
	font-size: 20px;
}

.details {

	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	color: white;
	font-size: 13px;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;

}


/*Adjusting the Card Footer*/
.card-footer span {

	color: #17a2b8;
	font-weight: 600;
}

.card-footer span i {

	padding-right: 5px;

}

.card-footer .rating {

	float: right;
}
	

</style>