s<template>
	
	<div>
		
		<app-navbar>  </app-navbar>


		<div class="container">


			<div class="require">
				
				<input class="Category" readonly="readonly" :placeholder="Category">

				<input class="Location" type="text" readonly="readonly" :placeholder="Location">

			</div>

			


			<div class="row">
			
				<app-single v-for="item in items" :key="item">  </app-single>
				
				<!-- <app-single>  </app-single> -->

			</div>


		</div>

		

	</div>




</template>


<script type="text/javascript">
	
	import SingleCard from './ResultSingleCard.vue';

	export default {

		data() {

			return {

				Category:this.$route.query.searchCategory,
				Location:this.$route.query.searchLocation,
				items:this.$store.state.result
			
			};
		},

		components:  {

			appSingle:SingleCard

		}


	};

</script>


<style type="text/css" scoped>

.container {

	/*width: 1200px;*/
	background-color: white;
	padding: 40px;
	margin-top: 100px;

}

.require {

	width: 80%;
	margin-right: auto;
	margin-left: auto;
}


input{

	padding: 5px;
	margin-right: 20px;
	text-align: center;
	width: 45%;
	outline: none;


}

.row {

	margin-top: 50px;
}





</style>