<template>
	
	<div id="blogpost" class="clearfix">
		
		<section class="main-bar">
		
			<h3 class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<div class="highlight mb-4">
				
				<hr>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod
				tempor incididunt ut labore <br> et dolore magna aliqua.</p>

				<hr>

			</div>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<div class="advertisement1">

				<p>This is the Place for Advertisment</p>
				
			</div>


			<app-comments> </app-comments>




			
		</section>

		<section class="side-bar">

			<div class="advertisement2">
				
				<p>This is the place For posting The Advertisement</p>
			
			</div>

			<div class="advertisement3">
				
				<p>This is the place For posting The Advertisement</p>
			
			</div>

		</section>
		
	
	</div>

</template>

<script>

import Comments from '../Share/Comments.vue';

export default {

	components: {

		'app-comments':Comments
	}




};


</script>


<style scoped>

#blogpost {

	color: #53666d;
	margin: 10px;
}


/*Styling the Mainbar*/

.main-bar {

	width: 75%;
	float: left;
	padding: 40px;
	text-align: center;
	background-color: white;
}	

.highlight hr {

	border-bottom: 1px dashed black;
	margin-top: 30px;
}

.advertisement1 {

	border:2px dashed black;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;


}

/*Styling the Reviews Section*/

.write-reviews{

	margin-top: 50px;
	background-color: #eff2f3;
	padding: 40px;
}

.write-reviews input,
.write-reviews textarea{

	width: 100%;
	margin-top:20px;
	padding-left:10px;
	height: 40px;
	font-family: 'Poppins',sans-serif;
	border: none;

}

.write-reviews textarea {

	height: 300px;
	padding-top: 5px;
}

.review-content{

	position: relative;
}


.send-icon{

	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
}

.send-icon span:hover {

	color: #17a2b8;
}






/*Styling the Sidebar*/

.side-bar {

	width: 25%;
	float: left;
	padding: 40px;
	text-align: center;
}

.advertisement2 {

	border:2px dashed black;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;


}

.advertisement3 {

	border:2px dashed black;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;


}


/*Writing Some Media Queries*/

 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

	.main-bar {

		float: none;
		width: 100%;

	}

	.side-bar {

		float: none;
		width: 100%;

	}

}

 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

	.main-bar {

		font-size: 14px;

	}

	.main-bar h3 {

		font-size: 20px;
	}

	.side-bar {

		font-size: 14px;

	}

	
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}




</style>