<template>

	<div>
		
		<app-navbar>  </app-navbar>

		<div class="blog-listing">

			<div class="blog-header text-center">
		
				<h3>Blog</h3>
				<hr>
	
			</div>

			<div class="container">

				<div class="row">

					<div class="col-12 col-md-6">

						<router-link to="/mainblog">

							<div class="card mb-3">

								<img src="../../assets/blog1.jpg" class="card-img-top img-fluid" alt="...">
			  
			            		<div class="card-body">
			        	
				        			<h5 class="card-title">Card title</h5>
				            		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				            		<p class="card-text"><small class="text-muted">On June 20, by <span>John Doe</span></small></p>
			  
			            		</div>
			
			        		</div>
				
						</router-link>

					</div>



					<div class="col-12 col-md-6">

						<router-link to="/mainblog">

							<div class="card mb-3">

								<img src="../../assets/blog1.jpg" class="card-img-top img-fluid" alt="...">
			  
			            		<div class="card-body">
			        	
				        			<h5 class="card-title">Card title</h5>
				            		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				            		<p class="card-text"><small class="text-muted">On June 20, by <span>John Doe</span></small></p>
			  
			            		</div>
			
			        		</div>
				
						</router-link>

					</div>
			
	
			
				</div>

		
				<div class="row">

					<div class="col-12 col-md-6">

						<router-link to="/mainblog">

							<div class="card mb-3">

								<img src="../../assets/blog1.jpg" class="card-img-top img-fluid" alt="...">
			  
			            		<div class="card-body">
			        	
				        			<h5 class="card-title">Card title</h5>
				            		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				            		<p class="card-text"><small class="text-muted">On June 20, by <span>John Doe</span></small></p>
			  
			   		        	</div>
			
			       		 	</div>
				
						</router-link>

					</div>


					<div class="col-12 col-md-6">

						<router-link to="/mainblog">

							<div class="card mb-3">

								<img src="../../assets/blog1.jpg" class="card-img-top img-fluid" alt="...">
			  
			            		<div class="card-body">
			        	
				        			<h5 class="card-title">Card title</h5>
				            		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				            		<p class="card-text"><small class="text-muted">On June 20, by <span>John Doe</span></small></p>
			  
			            		</div>
			
			        		</div>
				
						</router-link>

					</div>
		

				</div>

			</div>


		</div>

		<app-footer> </app-footer>


	</div>
	
</template>



<script>
	
	export default {

	};

</script>


<style>

/*Desgining the Main Blog Section*/

.blog-listing {

	margin-top: 100px;
	margin-bottom: 100px;
}


.blog-listing hr {

	max-width: 60px;
	border-color: #17a2b8;

}


.blog-listing .row {

	margin-top:40px; 
}


.blog-listing a:hover {

	text-decoration: none;
}

.card-title {

	color: black;
}

.card-body {

	color: #53666d;
	font-size: 14px;
}

.card img {

	height: 300px;
}


small span {

	color: #17a2b8;
}

	

</style>