<template>
	
	<div>
		
		<app-navbar>  </app-navbar>
		<blog-gallery>  </blog-gallery>
		<blog-content> </blog-content>
		<app-footer> </app-footer>
		
	</div>

</template>


<script>

	import BlogGallery from './ListingsSingleBlogGallery.vue';
	import BlogContent from './ListingsSingleBlogContent.vue';
	
	export default {

		components:{

			'blog-gallery':BlogGallery,
			'blog-content':BlogContent
		}


	};

</script>

<style scoped>
	


</style>