<template>
	
	<div>
			
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

		  <div class="carousel-inner">

		    <div class="carousel-item active" data-interval="2000">
		      <img src="../../assets/blog1.jpg" class="d-block w-100" alt="Image1">
		    </div>

		    <div class="carousel-item" data-interval="2000">
		      <img src="http://getwallpapers.com/wallpaper/full/a/2/f/1092972-nature-background-hd-2560x1600-for-tablet.jpg" class="d-block w-100" alt="Image2">
		    </div>

		    <div class="carousel-item" data-interval="2000">
		      <img src="https://www.seoclerk.com/pics/want61729-1eEpVJ1527661649.jpg" class="d-block w-100" alt="Image3">
		    </div>

		  </div>

		  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  
		  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>

		</div>

		
	</div>

</template>

<script>
	
	export default {


	};

</script>

<style scoped>

.carousel-inner img {

	height: 400px;
}

/*Writing Some Media Queries*/

 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {



}

 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {



	
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}



</style>