<template>
  
  <div>

    <transition name="fade" mode="out-in">
    
      <router-view>  </router-view>
  
    </transition>


 

  </div>


</template>


<script type="text/javascript">

  export default{ 



  };



</script>



<style type="text/css">

*{
  box-sizing: border-box;

}

html{

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


body{

  font-family: 'Poppins', sans-serif;
  /*background-color: #eff2f3;*/
  background-color: #f2f2f2;


}


/*Adding the Page Animation*/

.fade-enter {

  opacity: 0;

} 

.fade-enter-active{

  transition: all 1s ease-in;

}

.fade-leave {

}


.fade-leave-active {

  opacity: 0;
  /*transition:all 0.1s ease-out;*/

}  



</style>